<ion-header>
  <ion-toolbar>
    <ion-title>
      Payment
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let option of paymentOptions">
      <ion-label>{{ option.label }}</ion-label>
      <ion-checkbox [(ngModel)]="option.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="dark" (click)="completePayment()">Complete Payment</ion-button>
</ion-content>
