<section class="interior-section-two menu-section">
  <h1 style="text-align: center;">MMINO Restaurant Menu</h1> 
  <hr class="separator">
  <br>
    <div *ngFor="let menu of menuData" class="menu-list menu-list__dotted menu-list-1">
        <!-- <h1>{{menu.menuTypeName}}</h1>
        <h2>{{menu.menuCategoryName}}</h2> -->
      <h2 class="menu-list__title"> {{menu.name}}</h2>
      <hr class="separator">
      <ul class="menu-list__items">
              
          <li class="menu-list__item">
            <div>
            <h4 class="menu-list__item-title">
            <span class="item_title">{{menu.foodTypeName}}</span>
              <span class="dots"></span>
            </h4>
            <p class="menu-list__item-desc">
              <span class="desc__content"></span></p><p>{{menu.description}}</p>
  
            <p></p> 
            
            <span class="menu-list__item-price"><p> R {{ getMenuItemPrice(menu.menuItem_Id) }}</p>
           </span>
            </div>
          </li>      
            </ul>
    </div>
    
  </section>
