<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <app-navbar></app-navbar>
      </div>
      <div class="col-md-8 order-md-2">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center mb-4">Update {{menuItem.name}}</h4>
            <hr>
            <div class="container">
              <div class="row">
                <form [formGroup]="editMenuItemForm" class="form-horizontal"  (ngSubmit)="editMenuItem()" enctype="multipart/form-data">

                  
              <div class="form-group">
                <label class="col-md-1" style="font-weight: bold;" for="name">Name:</label>
                <div class="col-md-6">
                  <input class="form-control" id="name" [(ngModel)]="menuItem.name" [required]="true" formControlName="name"
                    >
                </div>
              </div>
  
                <div class="form-group">
                  <label class="col-md-1" style="font-weight: bold;" for="description">Description:</label>
                  <div class="col-md-6">
                    <textarea class="form-control"  id="description" [(ngModel)]="menuItem.description" [required]="true" formControlName="description"
                      ></textarea>
                  </div>
                </div>
                
              <div class="form-group">
                <label class="col-md-1" style="font-weight: bold;" for="menuTypeName">Menu Type</label>
                <div class="col-md-6">
                  <select class="form-control" id="menuTypeName"  [(ngModel)]="menuItem.menuTypeName"  [required]="true" formControlName="menuTypeName" >
                    <option *ngFor="let type of menuTypes" [value]="type.name">{{ type.name }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-1" style="font-weight: bold;" for="foodTypeName">Food Type</label>
                <div class="col-md-6">
                  <select class="form-control" id ="foodTypeName" [(ngModel)]="menuItem.foodTypeName"  formControlName="foodTypeName">
                    <option *ngFor="let type of foodTypes" [value]="type.name">{{ type.name }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-1" style="font-weight: bold;" for="menuCategoryName">Menu Category</label>
                <div class="col-md-6">
                  <select class="form-control" id="menuCategoryName" [(ngModel)]="menuItem.menuCategoryName"  formControlName="menuCategoryName">
                    <option *ngFor="let category of menuCategory" [value]="category.name">{{ category.name }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <span>
                  <label class="col-md-1" style="font-weight: bold;" for="amount">Price:</label>
                  <div class="col-sm-4 input-group"> 
                    <div class="input-group-prepend">
                      <span style="height: 2.5rem;" class="input-group-text">R</span> 
                    </div>
                    <input  style="width: 2.5rem;" class="form-control" placeholder="Enter Menu Item Price" required name="amount" formControlName="amount">
                  </div>
                </span>
              </div>

              <!-- <div class="form-group">
                <label class="col-md-1" style="font-weight: bold;" for="amount">Price:</label>
                <div class="col-md-6">
                  <input class="form-control"  id="amount" name="amount" formControlName="amount">
                </div>
              </div> -->
  
              <!-- <div class="form-group">
                <div class="col-sm-offset-1 col-sm-6">
                  <button style="margin-right:1em;" type="button"
                    class="btn btn-sm btn-primary" (click)="loadMenuItem()">Load</button>

                </div>
              </div>  -->
              
      <!-- <div class="form-group"> -->
        <div class="col-sm-offset-1 col-sm-6 center-buttons">
        <div class="buttons">
          <span>
            <button style="margin-right:1em;" type="button"
                    class="btn btn-sm btn-primary" (click)="loadMenuItem()">Load</button>
            <button style="margin-right:1em;" type="submit" [disabled]="!editMenuItemForm.valid" class="btn btn-sm btn-success">Confirm</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
        </span>
        </div>
        </div>
      <!-- </div> -->
    </form>
    <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help" matTooltip="Help">
      <mat-icon>help</mat-icon>
    </button>
    </div>
   </div> 
    </div>
    </div>
  </div>
  
  
  
  
  
   


  