<!-- <div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          <app-navbar></app-navbar>
      </div>

<mat-card style="margin-left: 25%; margin-top: -70%;" >
    <mat-card-header>
      <h2>Edit Menu Item</h2>
    </mat-card-header>
  
    <mat-card-content>
      <form (ngSubmit)="saveMenuItem()" #editForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="menuItem.name" name="name" required>
        </mat-form-field><br>
  
        <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="menuItem.description" name="description" required></textarea>
        </mat-form-field><br>
  
        <mat-form-field>
          <mat-label>Menu Type</mat-label>
          <mat-select [(ngModel)]="menuItem.menuTypeId" name="menuTypeId" required>
            <mat-option *ngFor="let menuType of menuTypes" [value]="menuType.menu_TypeId">{{ menuType.name }}</mat-option>
          </mat-select>
        </mat-form-field><br>
  
        <mat-form-field>
          <mat-label>Food Type</mat-label>
          <mat-select [(ngModel)]="menuItem.foodTypeId" name="foodTypeId" required>
            <mat-option *ngFor="let foodType of foodTypes" [value]="foodType.foodTypeId">{{ foodType.name }}</mat-option>
          </mat-select>
        </mat-form-field><br>
  
        <mat-form-field>
          <mat-label>Menu Category</mat-label>
          <mat-select [(ngModel)]="menuItem.menuCategoryId" name="menuCategoryId"required>
            <mat-option *ngFor="let menuCategory of menuCategory" [value]="menuCategory.menu_CategoryId">{{ menuCategory.name }}</mat-option>
          </mat-select>
        </mat-form-field><br>
  
        <button mat-raised-button color="primary" type="submit">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
  </div>
   -->