<h1>Edit Menu Type</h1>
<div class="container-md">
    <form [formGroup]="editMenuTypeForm" autocomplete="off" (ngSubmit)="editMenuType()">
        <div class="mb-1">
            <label for="name" class="form-label">Name</label>
           
                <input type="text" #name [ngClass]="{'form-control': true, 'is-invalid': editMenuTypeForm.get('name')?.invalid &&
                (editMenuTypeForm.get('name')?.dirty || editMenuTypeForm.get('name')?.touched)}" Menu_TypeId="name" name="name"
                    formControlName="name" placeholder="Name" style="width: 300px"><br>
        </div>
       
        <button type="submit" class="btn btn-basic" [disabled]="!editMenuTypeForm.valid">Edit</button>
        <button type="button" class="btn btn-warning" style="margin-left: 2px;" [routerLink]="['/menu-types']">Cancel</button>
        
    </form>
</div>
