<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar> 
        </div>
        <div class="col-md-10 order-md-1">
            <label></label>
            <h1 style="text-align: center; font-size: 60px; font-family: 'Times New Roman', Times, serif;">Welcome {{fullName}}</h1> 
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <!-- Include your app navbar here -->
            <app-navbar></app-navbar> 
        </div>
        <div class="col-md-10 order-md-6">
            <div class="welcome-section text-center" >
                <h1 class="display-3" >Welcome  {{ fullName}}</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <!-- Notifications Component -->
                <app-notifications></app-notifications>
              </div>
              <div class="col-md-4">
                <!-- Small Calendar Component -->
                <app-calendar></app-calendar>
              </div>
              <div class="col-md-4">
                <!-- Time Component -->
                <app-time></app-time>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <!-- To-Do List Component -->
                <app-todo-list></app-todo-list>
              </div>
            </div>
          </div>
          
        
    </div>
</div>
