<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar> 
        </div>
        <div class="col-md-10 order-md-1">
            <label></label>
            <h1 style="text-align: center; font-size: 60px; font-family: 'Times New Roman', Times, serif;">Welcome {{fullName}}</h1> 
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar> 
        </div>
        <div class="col-md-10 order-md-6">
            <div class="welcome-section text-center" >
                <h1 class="display-3" >Welcome  {{fullName}}</h1>
            </div> <br />

            <div class="row">
                <div class="col-sm-9">
                <div class="well" style="display: block;">
                    <i class="fa fa-group"></i>
                    <h4>Employees</h4>
                    <p>1 Million</p> 
                    <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [type]="barChartType">
                    </canvas>
                </div>
                </div>
                <div class="col-sm-3">
                <div class="well" style="display: block;">
                    <i class="fa fa-fw fa-folder"></i>
                    <h4>Inventory Reconciliation</h4>
                    <p>100 Million</p> 
                    <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend"
                    [type]="lineChartType"
                    [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
            <div class="row">  
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                        <h4>Sales this month</h4>
                        <p>{{ orderCount }}</p> 
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Bounce</h4>
                        <p>30%</p> 
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <i class="fa fa-fw fa-folder"></i>
                        <h4>Inventory Reconciliation</h4>
                        <table class="table table-striped table-hover table-container outlined-table">
                            <thead class="tableColor">
                    
                                <th scope="col"></th>
                                <th scope="col"> Name</th>
                                <th scope="col">Inventory Qty</th>
                                <th scope="col">Stock Take Qty</th>
                                <th scope="col">Quantity Difference</th>
                                <th scope="col">Stock Take Date</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let items of reconItems">
                                    <td>{{items.stockTakeItemId}}</td>
                                    <td>{{items.inventoryItemName}}</td>
                                    <td>{{items.inventoryQuantity}}</td>
                                    <td>{{items.quantity}}</td>
                                    <td>{{items.quantityDifference}}</td>
                                    <td>{{items.stockTake_Date | date}}<td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <!-- Notifications Component -->
                <app-notifications></app-notifications>
              </div>
              <div class="col-md-4">
                <!-- Small Calendar Component -->
                <app-calendar></app-calendar>
              </div>
              <div class="col-md-4">
                <!-- Time Component -->
                <app-time></app-time>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <!-- To-Do List Component -->
                <app-todo-list></app-todo-list>
              </div>
            </div>
          </div>
          
        
    </div>
</div>
