<div class="container-fluid">
<div class="row">
    <div class="col-md-2">
        <app-navbar></app-navbar>
    </div>
<div class="col-md-10 order-md-1">
<h3 style="text-align: center;">Employee Listing </h3>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm">
        <button class="btn" (click)="search(searchTerm)">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
  </div>

<table class="table table-striped table-hover"> 
    <thead >

            <th scope="col">ID</th> 
            <th scope="col">Surname</th> 
            <th scope="col">First Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
    </thead> 
    <tbody> 
        <tr *ngFor="let employee of employees"> 
            <td>{{employee.employeeId}}</td> 
            <td>{{employee.surname}}</td> 
            <td>{{employee.firstName}}</td> 
            <td>{{employee.email_Address}}</td> 
            <td>{{employee.physical_Address}}</td> 
            <td>{{employee.phoneNumber}}</td> 
            <td>
                <button style="margin-right: 1em;" [routerLink]="['/edit-employee', employee.employeeId]" type="button" class="btn btn-sm btn-primary" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                <button type="button" class="btn btn-sm btn-danger" (click)="deleteEmployee(employee.employeeId)" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </td>
        </tr> 
    </tbody>  
</table>
</div>
</div>

    
