.heading{
    /* background-color: darkmagenta; */
    height: 50px;
    text-align: center;
    padding-top: 7px;
    font-family: 'Times New Roman', Times, serif;
}

.edit-form{
    align-items: center;
}

.label{
    margin-bottom: 5px;
    padding-bottom: 5px;
}