<h2 mat-dialog-title>Help: Edit an Event</h2>
<div mat-dialog-content>
    <p>If you're unsure how to edit an Event on the  system, please follow the steps mentioned below</p>
    <ul>
        <li><strong>Step 1:</strong>Update the title of the Event.</li>
        <li><strong>Step 2:</strong>Change the description.</li>
        <li><strong>Step 3:</strong>Change the event date.</li>
        <li><strong>Step 4:</strong>Change the event cover image.</li>
        <li><strong>Step 5:</strong> Update the event information, by clicking the "Save" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the event</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
