<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Password Recovery</h3>
            </div>
            <div class="card-body" id="forgotPassCard">
                <form >
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                        </div>
                        <input formControlName="Email" type="email" class="form-control" placeholder="africanacity@gmail.com" required=""/>
                    </div><br>
                    <div class="form-group">
                        <input type="submit" value="Send"  class="btn float-right forgot_btn" />
                        <input type="submit" value="Back" routerLink="../login" class="btn float-left forgot1_btn" (click)="LoginUser()" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">Don't have an account?<a routerLink="../register">Sign Up</a></div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" *ngIf="!isLoading">
      <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
      </mat-card-header>
      <form class="form" [formGroup]="loginFormGroup">
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter the User's Email address" formControlName="UserName">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" (click)="LoginUser()">Send</button>
        <button mat-raised-button color="warn" class="btn-block" routerLink="../login">Cancel</button>
      </form>
    </mat-card>
    <mat-progress-spinner mode="indeterminate" value="50" *ngIf="isLoading">
    </mat-progress-spinner>
  </div> -->