.container {
    height: 100%;
    align-content: center;
    margin-top: 1%;
}

.card {
    height: 250px;
    margin-top: 10%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgb(255, 255, 255) !important;
}

.card-header h3 {
    color: rgb(0, 0, 0);
}

.card-footer {
    overflow: hidden;
}

.input-group-prepend span {
    width: 50px;
    background-color: #a812ff;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.forgot_btn {
    color: rgb(255, 255, 255);
    background-color: #a812ff;
    width: 100px;
}
.forgot1_btn {
    color: rgb(255, 250, 250);
    background-color: #010101;
    width: 100px;
}

.forgot_btn:hover {
    color: rgb(228, 37, 231);
    background-color: white;
}

.links {
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
}

.links a {
    margin-left: 4px;
}