<h2 mat-dialog-title>Help: Actions to perform on the "View Menu Type Screen"</h2>
<div mat-dialog-content>
    <p>If you're unsure, about what to do on this Screen, please read thorugh the instructions below.</p>
    <ul>
        <li><strong>Action 1:</strong> Click on the <strong>"Add"</strong></li>
        <ul>
            <li><strong>Sub-step 1:</strong>You will be re-directed to the <strong>"Add Menu Type"</strong></li>
          </ul>
          <br>
        <li><strong>Action 2:</strong> Click on the <strong>"Edit Icon"</strong></li>
          <ul>
            <li><strong>Sub-step 1:</strong>You will be re-directed to the <strong>"Edit Screen"</strong></li>
          </ul>
          <br>
        <li><strong>Action 3:</strong> Click on the <strong>"Delete Icon"</strong> </li>
        <ul>
            <li><strong>Sub-step 1:</strong>A notification will pop-up, asking you to confirm your request to delete</li>
          </ul>
          <br>
        <li><strong>Action 4:</strong> You can also search for a specific Menu Type</li>
      <br>
      <p style="color:red">*Note: You do not have to perform the above actions. You can simply view the list.</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
