
 <div class="col-md-0">

 <nav class="side-navbar">
  <a>
    <img src="../../assets/Nav_image/Africanacity.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
      Africanacity
    </a>
  <ul>
    <li>
      <a class="nav-link" routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-group"></i> Employee Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      <ul class="dropdown">
        <li><a class="nav-link" routerLink="/add-employee"><i class="fa fa-circle-o" aria-hidden="true"></i> Add Employee</a></li>
        <li><a class="nav-link" routerLink="/view-employees"><i class="fa fa-circle-o" aria-hidden="true"></i> View Employee's</a></li>
        <li><a class="nav-link" routerLink="/employee-role"><i class="fa fa-circle-o" aria-hidden="true"></i> Employee Roles</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-folder"></i> Menu Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      <ul class="dropdown">
        <li><a class="nav-link" routerLink="/menuitems"><i class="fa fa-circle-o" aria-hidden="true"></i>Menu Items</a></li>
        <li><a class="nav-link" routerLink="/menu-types"><i class="fa fa-circle-o" aria-hidden="true"></i>Menu Type</a></li>
        <li><a class="nav-link" routerLink="/menu-item-category"><i class="fa fa-circle-o" aria-hidden="true"></i>Menu Item Category</a></li>
        <li><a class="nav-link" routerLink="/food-type"><i class="fa fa-circle-o" aria-hidden="true"></i>Food Types</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-glass"></i> Drink Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      <ul class="dropdown">
        <li><a href="#"> <i class="fa fa-circle-o" aria-hidden="true"></i>Drink Items</a></li>
        <li><a href="./administration/drinkType"> <i class="fa fa-circle-o" aria-hidden="true"></i>Drink Types</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-folder"></i> Inventory Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      <ul class="dropdown">
        <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> Food</a></li>
        <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> Drinks</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-users"></i> Supplier Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      <ul class="dropdown">
        <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> Add Supplier</a></li>
        <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> View Supplier's</a></li>
      </ul>
    </li>  
    <li>
      <a href="#"> <i class="fa fa-music"></i> Entertainment <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      <ul class="dropdown">
        <li><a href="/schedule-display"><i class="fa fa-calendar-o" aria-hidden="true"></i> Schedule</a></li>
        <li><a href="/view-events"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Events</a></li>
        <li><a href="/entertainment-types"><i class="fa fa-music" aria-hidden="true"></i> Entertainment Types</a></li>

      </ul>
    </li>  
    <li>
      <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Reports</a>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-question-circle"></i> Help Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      <ul class="dropdown">
        <li><a class="nav-link" routerLink="/add-help"><i class="fa fa-circle-o" aria-hidden="true"></i> Add Help Q&A</a></li>
        <li><a class="nav-link" routerLink="/view-help-list"><i class="fa fa-circle-o" aria-hidden="true"></i> View Help Q&A's</a></li>
      </ul>
    </li>
    <li>
      <a href="#contact"> <i class="fa fa-fw fa-user-circle-o"></i> View Profile</a>
    </li>

    <li>
      <a routerLink="../login"> LOGOUT </a>
    </li>
  </ul>
</nav>
 </div>





