 <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar> 
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
          <div class="card smaller-card">
            <div class="page-container">
              <div *ngIf="submitting" class="loader-overlay">
                <div class="loader"></div>
                <div class="loading-message">Loading...</div>
              </div>
            <div class="card-body">
              <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help" class="help-button">
                <mat-icon>help</mat-icon>
              </button>
              <h2 class="card-title text-center">Change Password</h2>
              <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="oldPassword">Old Password</label>
                  <input type="password" formControlName="oldPassword" class="form-control" placeholder="Oldpassword" required />
                </div>

                <div class="form-group">
                  <label for="newPassword">New Password</label>
                  <input
                    type="password"
                    placeholder="Newpassword"
                    formControlName="newPassword"
                    class="form-control"
                    required
                    (input)="updatePasswordStrength()"
                  />
                  <div class="password-strength" id="newPasswordStrength">
                    Password Strength: <span [ngClass]="passwordStrengthClass">{{ passwordStrength }}</span>
                  </div>
                  <div *ngIf="passwordsMatch" class="text-danger mt-2">
                    New password cannot match the old password.
                  </div>
                </div>

                <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input
                    type="password"
                    placeholder="Confirmpassword"
                    formControlName="confirmPassword"
                    class="form-control"
                    required
                    (input)="updateConfirmPasswordStrength()"
                  />
                  <div class="password-strength" id="confirmPasswordStrength">
                    Password Strength: <span [ngClass]="passwordStrengthClass1">{{ passwordStrength1 }}</span>
                  </div>
                  <div *ngIf="formControls['confirmPassword'].hasError('passwordsNotMatch')" class="text-danger">
                    Passwords do not match.
                  </div>
                </div>

                <div *ngIf="errorMessage" class="text-danger mt-3">
                  {{ errorMessage }}
                </div>

                <div *ngIf="successMessage" class="text-success mt-3">
                  {{ successMessage }}
                </div>

                <div class="form-group" style="margin-left: 10rem;">
                  <div class="col-sm-offset-1 col-sm-6">
                    <button [disabled]="!changePasswordForm.valid" style="margin-right: 1em;" type="submit" class="btn btn-sm btn-success">Confirm</button>
                    <button type="button" style="margin-left: 1em;" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
                  </div>
                </div>
                
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
