<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading" style="margin-left: 20%;">
                        <h3 class="pt-3 font-weight-bold">
                          <img src="../../assets/Nav_image/Africanacity.png"  alt="Avatar" class="avatar">
                          Change password
                      </h3>
                    </div>
                    <div class="panel-body p-3" >
                        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">         
                            <div class="form-group pt-3" >
                                <div class="input-field" [class.error]="changePasswordForm.controls['oldPassword'].dirty && changePasswordForm.hasError('required','oldPassword')"><span class="fa fa-lock px-2"></span><input formControlName="password"  type="password" placeholder="Old Password"> <button type="button" (click)="hideShowPass()" class="bg-white text-muted"> <span class="fa {{eyeIcon}}"></span> </button> </div>
                            </div>
                            <small *ngIf="changePasswordForm.controls['oldPassword'].dirty && changePasswordForm.hasError('required','oldPassword')" class="text-danger">*Old password is required*</small>
                            <div class="form-group pt-3" >
                                <div class="input-field" [class.error]="changePasswordForm.controls['newpassword'].dirty && changePasswordForm.hasError('required','newPassword')"><span class="fa fa-lock px-2"></span><input formControlName="newPassword"  type="password" placeholder="New Password"> <button type="button" (click)="hideShowPass()" class="bg-white text-muted"> <span class="fa {{eyeIcon1}}"></span> </button></div>
                            </div>
                            <small *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.hasError('required','newPassword')" class="text-danger">*New password is required*</small>
                            <div class="form-group pt-3" >
                                <div class="input-field" [class.error]="changePasswordForm.controls['confirmpassword'].dirty && changePasswordForm.hasError('required','confirmPassword')"><span class="fa fa-lock px-2"></span><input formControlName="confirmPassword"  type="password" placeholder="Confirm Password"> <button type="button" (click)="hideShowPass()" class="bg-white text-muted"> <span class="fa {{eyeIcon1}}"></span> </button></div>
                            </div>
                            <small *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.hasError('required','confirmPassword')" class="text-danger">*Confirmpassword is required*</small>
                            <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['mismatch'] && changePasswordForm.get('newPassword')?.dirty"> </div>
                            <div>
                                <button type="submit"  class="btn btn-primary btn-block mt-4 w-50">Submit</button>
                                <button type="submit"  routerLink="../view-profile"  class="btn btn-danger btn-block mt-4 w-50">Cancel</button>
                            </div>                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>