.ion-content{
    width: 50%;
}


.card-image{
    max-width: 50px;
    position:relative;
}



ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    margin-left: 500%;
    
   
  }