.error-snackbar {
  background-color: #f44336; /* Red background color */
  color: white; /* Text color */
  font-size: 14px;
}
  
/* Center the login form vertically and horizontally */
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
 
}

/* Style the login form with a thin solid border */
.login-form {
  background-color: #fff; /* Background color for the form */
  border-radius: 8px; /* Rounded corners */
  width: 40%;
  justify-content: center;
  border: 5px solid #ccc; /* Border with a color of your choice */
  padding: 20px; /* Add some padding to the form */
  font-family:Arial, Helvetica, sans-serif;/* Optionally set a background color */
}
.container {
  display: flex;
  flex-direction: column; /* Arrange content vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh;
  margin-top:18%;
  margin-left: 30%;
  width: 100%;
   /* Use the entire viewport height */
}

/* Center the logo horizontally and vertically */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%; /* Adjust the height as needed */
}

/* Style the logo image */
.logo {
  max-width: 200px; /* Set the maximum width of your logo */
  max-height: 200px; 
  justify-content: center;/* Set the maximum height of your logo */
  align-items: center;
  border-radius: 50%;

}

.form-body{
  align-items: start;
}


  
  