<h2 mat-dialog-title>Help: Edit a Inventory Type</h2>
<div mat-dialog-content>
    <p>If you're unsure how to edit a Inventory type's information to the system, please follow the steps mentioned below</p>
    <ul>
        <li><strong>Step 1:</strong>Edit the Name of the Inventory Type.</li>
        <li><strong>Step 2:</strong>Edit the Description of the Inventory Type.</li>
        <li><strong>Step 3:</strong> Update the Inventory Type's information, by clicking the "Confirm" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the item</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

