
<ion-header>
  <ion-toolbar>
    <ion-title>
      Submitted Orders
    </ion-title>
  </ion-toolbar>
  <ion-progress-bar [value]="progress"></ion-progress-bar>
</ion-header>

<ion-content *ngIf="completedOrders.length > 0">
  <ion-card *ngFor="let order of completedOrders" class="ion-card" color="light">
    <h2 style="font-family: Arial, Helvetica, sans-serif;">Order Number: {{ order.KitchenOrderNumber }}</h2>
    <h3>{{ order.TableNumber }}</h3>
    <p *ngFor="let omi of order.OrderedMenuItems" > {{ omi.MenuItem.Name }} x {{ omi.Quantity }}</p>
    <p *ngFor="let od of order.OrderedDrinks" > {{ od.OtherDrink.Name }} x {{ od.Quantity }}</p>
    <p>Subtotal: {{ order.Subtotal }}</p>
    <p>VAT: {{order.VAT }}</p>
    <p>Discount: {{ order.Discount }}</p>
    <p>Total: {{ order.Total }}</p>
    <!-- the routerLink to use the correct property name-->
    <ion-button shape="round" fill="outline"  color="success" (click)="showPaymentModal(order)">Pay</ion-button>
  </ion-card>
</ion-content>










 

