 <nav class="side-navbar">
  <a>
    <!-- <img src="../../assets/Nav_image/Africanacity.png" alt="" width="30" height="30" class="d-inline-block align-text-top"> -->
      Africanacity
    </a>
  <ul>
    <li>
      <a href="#"> <i class="fa fa-fw fa-home"></i> Home</a>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-group"></i> Employee Management</a>
      <ul class="dropdown">
        <li><a href="#">Add Employee</a></li>
        <li><a href="#">View Employee's</a></li>
        <li><a href="#">Employee Roles</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-folder"></i>Menu Management</a>
      <ul class="dropdown">
        <li><a href="#">Menu Items</a></li>
        <li><a href="#">Menu Types</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-glass"></i> Drink Management</a>
      <ul class="dropdown">
        <li><a href="#">Drink Items</a></li>
        <li><a href="#">Drink Types</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-folder"></i> Inventory Management</a>
      <ul class="dropdown">
        <li><a href="#">Food</a></li>
        <li><a href="#">Drinks</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-users"></i> Supplier Management</a>
      <ul class="dropdown">
        <li><a href="#">Add Supplier</a></li>
        <li><a href="#">View Supplier's</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-users"></i> Supplier Management</a>
      <ul class="dropdown">
        <li><a href="#">Add Supplier</a></li>
        <li><a href="#">View Supplier's</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-user"></i> Reports</a>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-user"></i> Entertainer Management</a>
      <ul class="dropdown">
        <li><a routerLink="../entertainer"><i class="fa fa-fw fa-user"></i> Manage Entertainer</a></li>
        <!-- <li><a href="#">View</a></li> -->
      </ul>
    </li>
    <li>
      <li>
        <a href="#"> <i class="fa fa-fw fa-book"></i> Booking Management</a>
        <ul class="dropdown">
          <li><a routerLink="../manage-booking"><i class="fa fa-fw fa-address-book"></i>Manage Booking</a></li>
          <li><a routerLink="../booking-listing"><i class="fa fa-fw fa-address-book-o"></i>Booking Lisitng</a></li>
        </ul>
      </li>
      <li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-question-circle"></i> Help Management</a>
      <ul class="dropdown">
        <li><a href="#">Add Help Q&A</a></li>
        <li><a href="#">View Help Q&A's</a></li>
      </ul>
    </li>
    <li>
      <a (click)="view()"> <i class="fa fa-fw fa-user-circle-o"></i> View Profile</a>
    </li>

    <li>
      <a (click)="logout()"> LOGOUT </a>
    </li>
  </ul>
</nav>





