 <nav class="side-navbar">
  <a>
    <!-- <img src="../../assets/Nav_image/Africanacity.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Africanacity -->
      <i class="fa fa-user-circle-o" style="font-size:24px" aria-hidden="true"></i><b> Hello {{fullName}}</b><hr>
     
    </a>
  <ul>
    <li>
      <b> <a href="#"> <i class="fa fa-fw fa-home"></i> Home</a></b>
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
    </li>
    <li>
      <b><a href="#"> <i class="fa fa-fw fa-group"></i> Employee Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a></b>
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      <ul class="dropdown">
        <li>
          <b><a class="nav-link" routerLink="/add-employee"><i class="fa fa-circle-o" aria-hidden="true"></i> Add Employee</a></b>
        </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <li>
          <b><a class="nav-link" routerLink="/view-employees"><i class="fa fa-circle-o" aria-hidden="true"></i> View Employee's</a></b>
          </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <li>
          <b> <a class="nav-link" routerLink="/employee-role"><i class="fa fa-circle-o" aria-hidden="true"></i> Employee Roles</a></b>
         </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      </ul>
    </li>
    <li>
      <b> <a href="#"> <i class="fa fa-fw fa-folder"></i> Menu Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a></b>
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      <ul class="dropdown">
        <li>
          <b><a class="nav-link" routerLink="/menuitems"><i class="fa fa-circle-o" aria-hidden="true"></i>Menu Items</a></b>
          </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <li>
          <b><a class="nav-link" routerLink="/menu-types"><i class="fa fa-circle-o" aria-hidden="true"></i>Menu Type</a></b>
         </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <li>
          <b><a class="nav-link" routerLink="/menu-item-category"><i class="fa fa-circle-o" aria-hidden="true"></i>Menu Item Category</a></b>
       </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <li>
          <b><a class="nav-link" routerLink="/food-type"><i class="fa fa-circle-o" aria-hidden="true"></i>Food Types</a></b>
        </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      </ul>
    </li>
    <li>
      <b><a href="#"> <i class="fa fa-fw fa-glass"></i> Drink Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a></b>
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      <ul class="dropdown">
        <li>
          <b> <a href="#"> <i class="fa fa-circle-o" aria-hidden="true"></i>Drink Items</a></b>
         </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <li>
          <b> <a href="./administration/drinkType"> <i class="fa fa-circle-o" aria-hidden="true"></i>Drink Types</a></b>
         </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      </ul>
    </li>
    <li>
      <b><a href="#"> <i class="fa fa-fw fa-folder"></i> Inventory Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a></b>
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      <ul class="dropdown">
        <li>
          <b><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> Food</a></b>
          </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <li>
          <b> <a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> Drinks</a></b>
         </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      </ul>
    </li>
    <li>
      <b><a href="#"> <i class="fa fa-fw fa-users"></i> Supplier Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a></b>
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      <ul class="dropdown">
        <li>
          <b>  <a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> Add Supplier</a></b>
        </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <li>
          <b><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> View Supplier's</a></b>
        </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      </ul>
    </li>  
    <li>
      <b> <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Reports</a></b>
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
    </li>
    <li>
      <b><a href="#"> <i class="fa fa-fw fa-user"></i> Entertainer Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a></b>   
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
      <ul class="dropdown">
        <li>
          <b>
            <a routerLink="../entertainer"><i class="fa fa-circle-o" aria-hidden="true"></i> Manage Entertainer</a>
          </b>
        </li>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <!-- <li><a href="#">View</a></li> -->
      </ul>
    </li>
    <li>
      <li>
        <b> <a href="#"> <i class="fa fa-fw fa-book"></i> Booking Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a></b>
        <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        <ul class="dropdown">
          <li>
            <b><a routerLink="../manage-booking"><i class="fa fa-circle-o" aria-hidden="true"></i>Manage Booking</a></b>
            </li>
          <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
          <li>
            <b><a routerLink="../booking-listing"><i class="fa fa-circle-o" aria-hidden="true"></i>Booking Lisitng</a></b>
          </li>
          <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
        </ul>
      </li>
      <li>
        <li>
          <b>  <a href="#"> <i class="fa fa-fw fa-question-circle"></i> Help Management <i class="fa fa-sort-desc" aria-hidden="true"></i></a></b>
          <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
          <ul class="dropdown">
            <li>
              <b> <a class="nav-link" routerLink="/add-help"><i class="fa fa-circle-o" aria-hidden="true"></i> Add Help Q&A</a></b>
             </li>
            <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
            <li>
              <b><a class="nav-link" routerLink="/view-help-list"><i class="fa fa-circle-o" aria-hidden="true"></i> View Help Q&A's</a></b>
              </li>
            <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
          </ul>
        </li>
    <li>
      <b> <a (click)="view()"> <i class="fa fa-fw fa-user-circle-o"></i> View Profile</a></b>
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
    </li>
    <li>
      <b>  <a (click)="logout()"> LOGOUT </a></b>
      <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
    </li>
  </ul>
</nav>





