/* Add this CSS to your styles.css or component's style file */
/* .side-navbar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 200px;
  height: 1000px;
} */
/* .side-navbar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 200px;
  height: 1000px;
 margin-left: 0px;
  top: 0;
  left: 0px; 
} */
.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px; /* Adjust width as needed */
  background-color: #333; /* Set your desired background color */
  
  z-index: 1000;
  color: #fff; /* Make sure the sidebar is above other content */
}


.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.nav-links a:hover {
  background-color: #555;
}

.dropdown {
  display: none;
  background-color: #444;
  position: absolute;
  z-index: 1;
  width: 175px;
}

.dropdown li {
  margin-bottom: 0;
}

.nav-links li:hover .dropdown {
  display: block;
}

.dropdown a {
  padding: 5px 20px;
}

.dropdown a:hover {
  background-color: #555;
} 

