<h2 mat-dialog-title>Help: Adding an Entertainment Type</h2>
<div mat-dialog-content>
    <p>If you're unsure how to add an Entertainment type to the system, please follow the steps mentioned below</p>
    <ul>
      <li><strong>Step 1:</strong> Enter in the Name of the Entertainment Type.</li>
      <li><strong>Step 2:</strong>Provide a short description of the entertainment type.</li>
      <li><strong>Step 3:</strong> Add the entertainment, by clicking the "Create" button</li>
      <li><strong>Step 3:</strong> Cancel the action, by clicking the "Discard" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the entertainment type</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
