<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          <app-navbar></app-navbar>
      </div>
  <div class="col-md-10 order-md-1">
    <div *ngIf="bookingActionLoading" class="loader-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      <p class="loading-message">Processing...</p>
    </div>
    
    <label></label>
  <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder;">Manage Booking </h3>

  <div class="input-group">
      <div class="search-bar">
      <input type="text" class="form-control" (input)="applyFilter($event)" placeholder="Search Columns">
      </div>
    <div class="addButton">
      <button style="margin-top: -0.8rem;" mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help">
        <mat-icon>help</mat-icon>
      </button>  
  
    </div> 
      </div>

      <div class="ploader-container" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <p class="ploading-message">Loading...</p>
      </div>
         <div *ngIf="!loading">
          <table class="table table-striped table-hover table-container outlined-table">
              <thead class="tableColor">
                  <tr>
                      <th scope="col">Event</th>
                      <th scope="col">Demo</th>
                      <th scope="col">Video</th>
                      <th scope="col">Full Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Mobile Number</th>
                      <th scope="col">Instagram</th>
                      <th scope="col">Entertainment Type</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let booking of filteredbookings">
                      <!-- <td>{{booking.pending_BookingId}}</td> -->
                      <td>{{booking.eventname}}</td>
                      <td>
                        <div class="image-container">
                          <img class="pdemo" src='data:image/png;base64,{{booking.demo}}' alt="No image">
                          <input type="checkbox" id="image-popup-{{booking.pending_BookingId}}" />
                          <label for="image-popup-{{booking.pending_BookingId}}" class="popup-overlay"></label>
                          <div class="popup-content">
                            <img class="demo" src='data:image/png;base64,{{booking.demo}}'  alt="No image">
                            <!-- Close button within the popup -->
                            <label class="close-button" for="image-popup-{{booking.pending_BookingId}}">&times;</label>
                          </div>
                        </div>
                      </td>
                     <td>
                         <div class="media-container">
                             <video class="vdemo" controls style="width: 100px; height: 100px;">
                                 <!-- <source [src]="'data:video/mp4;base64,' + booking.demo" type="video/mp4" /> -->
                                 <source [src]="'data:video/mp4;base64,' + booking.demo" type="video/mp4" />
                                 <source [src]="'data:video/webm;base64,' + booking.demo" type="video/webm" />
                                 <source [src]="'data:video/ogg;base64,' + booking.demo" type="video/ogg" />
                                  Your browser does not support the video tag.
                              </video>
                                 <input type="checkbox" id="video-popup-{{booking.pending_BookingId}}" />
                                    <label for="video-popup-{{booking.pending_BookingId}}" class="popup-overlay video"></label>
                                       <div class="popup-content">
                                          <video class="popup-video" controls  style="width: 400px; height: 400px;">
                                              <!-- <source [src]="'data:video/mp4;base64,' + booking.demo" type="video/mp4"  alt="No video" /> -->
                                              <source [src]="'data:video/mp4;base64,' + booking.demo" type="video/mp4" />
                                              <source [src]="'data:video/webm;base64,' + booking.demo" type="video/webm" />
                                              <source [src]="'data:video/ogg;base64,' + booking.demo" type="video/ogg" /> 
                                              Your browser does not support the video tag.
                                          </video>
                                           <!-- Close button within the popup -->
                                           <label class="close-button" for="video-popup-{{booking.pending_BookingId}}">&times;</label>
                                        </div>
                          </div>
                      </td>
                      <td>{{booking.firstName}} {{booking.lastName}}</td>
                      <td>{{booking.email}}</td>
                      <td>{{booking.contactNumber}}</td>
                      <td>{{booking.instagram}}</td>
                      <td>{{booking.entertainmentTypeName}}</td>
                      <td>
                        <a class="button-link" style="color: black; margin-right: 10px;" (click)="acceptBooking(booking.pending_BookingId)" aria-hidden="true"> Accept</a> 
                        <a class="button-link" style="color: red;"(click)="DeleteBooking(booking.pending_BookingId)" aria-hidden="true">Decline</a>            
                    </td>
                  </tr>
              </tbody>
          </table>
    </div>
      

    