<div class="col-md-2">
  <app-navbar></app-navbar> 
</div>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" >
<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
  <img src="../../assets/Nav_image/Africanacity.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
  Hello {{fullName}}<h6>
  </h6></a>
<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
<div class="navbar-nav">
    <div class="nav-item text-nowrap">
        <a style="background: red;
        color: #fff;
        border-radius: 4px;
        margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
    </div>
</div>
</header>
 <div class="container" style="margin-left: 15%; width: auto;">
      <div class="row">
           <h3 class="pt-3 font-weight-bold">
              Update Profile
            </h3>      
                  <div class="panel-body p-3">
                      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="updateForm.controls['firstName'].dirty && updateForm.hasError('required','firstName')"> <span class="fa fa-user p-2"></span> <input   id="firstName" formControlName="firstName" type="text" placeholder="First Name"> </div>
                          </div>
                          <small *ngIf="updateForm.controls['firstName'].dirty && updateForm.hasError('required','firstName')" class="text-danger">*First Name is required*</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="updateForm.controls['lastName'].dirty && updateForm.hasError('required','lastName')"> <span class="fa fa-user p-2"></span> <input  id="lastName" formControlName="lastName" type="text" placeholder="Last Name"> </div>
                          </div>
                          <small *ngIf="updateForm.controls['lastName'].dirty && updateForm.hasError('required','lastName')" class="text-danger">*Last Name is required*</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="updateForm.controls['username'].dirty && updateForm.hasError('required','username')"> <span class="fa fa-user p-2"></span> <input id="username" formControlName="username" type="text" placeholder="UserName"> </div>
                          </div>
                          <small *ngIf="updateForm.controls['username'].dirty && updateForm.hasError('required','username')" class="text-danger">*Username is required*</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="updateForm.controls['contactNumber'].dirty && updateForm.hasError('required','contactNumber')"> <span class="fa fa-user p-2"></span> <input id="contactNumber" formControlName="contactNumber" type="text" placeholder="Contact Number"> </div>
                          </div>
                          <small  *ngIf="updateForm.controls['contactNumber'].dirty && updateForm.hasError('required','contactNumber')" class="text-danger">*ContactNo is required*</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="updateForm.controls['physicalAddress'].dirty && updateForm.hasError('required','physicalAddress')"> <span class="fa fa-user p-2"></span> <input id="physicalAddress" formControlName="physicalAddress" type="text" placeholder="Phyiscal Address"> </div>
                          </div>
                          <small  *ngIf="updateForm.controls['physicalAddress'].dirty && updateForm.hasError('required','physicalAddress')" class="text-danger">*Physical Address is required*</small>
                          <div class="form-group pt-3">
                            <div class="input-field" [class.error]="updateForm.controls['email'].dirty && updateForm.hasError('required','email')"> <span class="fa fa-user p-2"></span> <input id="email" formControlName="email" type="text" placeholder="Email"> </div>
                        </div>
                        <small  *ngIf="updateForm.controls['email'].dirty && updateForm.hasError('required','email')" class="text-danger">*Email is required*</small>
                        <div>
                          <button type="submit"  class="btn btn-primary btn-block mt-4 w-50">Submit</button>
                          <button type="submit"  routerLink="../view-profile"  class="btn btn-danger btn-block mt-4 w-50">Cancel</button>
                      </div>
                      </form>
    </div>
  </div>
</div>


