.ion-card{
    outline: 70px;
    border-style:solid;
    border-color: black;
   
    height:15rem;
  }
  .heading{
    margin-left: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .ion-button{
    border-style: groove;
    border-radius: 75px;
    border-width: 2px;
    border-color:blueviolet;
    
    
  }

  .ion-card{
    outline: 70px;
    border-style:solid;
    border-color: black;
    box-shadow: 25rem;
    box-shadow:cornflowerblue;
    width: 30rem;
    color:black;
  
   
  }
