<h2 mat-dialog-title>Help: Actions to perform on the "View VAT"</h2>
<div mat-dialog-content>
    <p>If you're unsure, about what to do on this Screen, please read thorugh the instructions below.</p>
    <ul>
        <li><strong>Action 1:</strong> Click on the <strong>"Add Icon"</strong></li>
          <ul>
            <li><strong>Sub-step 1:</strong>You will be re-directed to the <strong>"Add Screen"</strong></li>
          </ul>
          <br>
      <p style="color:red">*Note: You do not have to perform the above actions. You can simply view the list.</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
