<h2 mat-dialog-title>Help: View the Schedule Calendar</h2>
<div mat-dialog-content>
    <p>If you're unsure what actions to perform when viewing the schedule information, please follow the steps mentioned below</p>
    <ul>
        <li><strong>Step 1:</strong>Click on your desired view button from the options on the right: Month,week,day</li>
        <ul>
            <li><strong>Sub-step 1:</strong>Screen is adjusted to suit your view</li>
          </ul>
        <br>
        <li><strong>Step 2:</strong>Edit the selected<strong>"Supplier Type"</strong>of the supplier type from the drop-down.</li>
        <li><strong>Step 3:</strong>Click on any event displayed on the calendar.</li>
        <ul>
            <li><strong>Sub-step 1:</strong>Event Details Modal will pop-up with more information about the event slot</li>
          </ul>
          <br>
          <ul>
            <li><strong>Sub-step 3:</strong>Click the Edit button, and the <strong>"Edit Schedule Slot Screen"</strong> will be displayed</li>
          </ul>
          <br>
          <ul>
            <li><strong>Sub-step 4:</strong>Click the Delete Button, and confirmation will be requested before deletion</li>
          </ul>
          <br>
      <p style="color:red">*Note: You do not have to perform the above actions. You can simply view the list.</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>