<div mat-subheader>
  <h2 mat-dialog-title>Add Schedule </h2>
<button style="margin-left: 1em;" mat-icon-button mat-dialog-close class="close-button" aria-label="Close">
  <mat-icon>close</mat-icon>
</button>
</div>

<div mat-dialog-content>
  <form [formGroup]="scheduleform">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Schedule Title">
      <!-- <mat-error *ngIf="scheduleform.get('title').invalid">Title is required</mat-error> -->
    </mat-form-field>

    <mat-form-field>
        <mat-label>Event</mat-label>
        <mat-select formControlName="event_name" >
            <mat-option *ngFor="let item of bookingevents "  [value]="item.eventId">{{item.event_Name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="start" placeholder="Start Time">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field> 
    
    <mat-form-field>
      <mat-label>End Time</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="end" placeholder="End Time">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field> 

    

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</div>

