<h2 mat-dialog-title>Help: Adding an Inventory Item</h2>
<div mat-dialog-content>
    <p>If you're unsure how to add an Inventory Item to the system, please follow the steps mentioned below</p>
    <ul>
      <li><strong>Step 1:</strong> Enter in the name of the Inventory item.</li>
      <li><strong>Step 2:</strong>Select what inventory type, the item is.</li>
      <li><strong>Step 3:</strong>Enter in the <strong>"Unit Price"</strong>of the item.</li>
      <li><strong>Step 4:</strong> Input a desired description explaing what the item is.</li>
      <li><strong>Step 5:</strong> Enter in the number of items on hand, at the time the item was purchased.</li>
      <li><strong>Step 6:</strong> Add the item, by clicking the "Add" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the item</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>






