 <nav class="side-navbar">
  <ul>
    <li>
      <a href="#"> <i class="fa fa-fw fa-home"></i> </a>
    </li>
    <li>
      <a routerLink="../home"> <i class="fa fa-fw fa-home"></i> Home</a>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-book"></i> Bookings</a>
      <ul class="dropdown">
        <li><a  routerLink="../booking"> <i class="fa fa-fw fa-address-book"></i> Upcoming Bookings</a></li>
        <li><a  routerLink="../past-booking"> <i class="fa fa-fw fa-address-book-o"></i> Past Bookings</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-download"></i>Downloads</a>
    </li>
    <li>
      <a href="#"> <i class="fa fa-fw fa-question-circle"></i> Help</a>
    </li>
    <li>
      <a routerLink="../view-profile"> <i class="fa fa-fw fa-user-circle-o"></i> View Profile</a>
    </li>

    <li>
      <a (click)="logout()"> LOGOUT </a>
    </li>
  </ul>
</nav>





