<h2 mat-dialog-title>Help: Editing an Drink</h2>
<div mat-dialog-content>
    <p>If you're unsure how to edit an Drink to the system, please follow the steps mentioned below</p>
    <ul>
      <li><strong>Step 1:</strong> Edit the item name should there be any changes that need to made.</li>
      <li><strong>Step 3:</strong> Change the description as desired.</li>
      <li><strong>Step 2:</strong>Select what drink type, the item changed to.</li>
      <li><strong>Step 2:</strong>Edit the Price</li>
      <li><strong>Step 4:</strong> Confirm the item changes, by clicking the "Confirm" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the item</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

