<h2 mat-dialog-title>Help: Adding an Inventory Type</h2>
<div mat-dialog-content>
    <p>If you're unsure how to add a Inventory Type to the system, please follow the steps mentioned below</p>
    <ul>
      <li><strong>Step 1:</strong> Enter in the Name of the Inventory Type.</li>
      <li><strong>Step 2:</strong>Enter in the Description of the Inventory Type.</li>
      <li><strong>Step 3:</strong> Add the item, by clicking the "Add" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the item</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>








