<nav id="nav">
          <div class="nav-logo">
              <div class="nav-heading">
                  <span href="#"><i >  <img src="../../assets/Nav_image/Africanacity.png" class="avatar" alt="" style="margin-top: 10%;"></i>MMINO Restaurant</span>
              </div>
              <div class="hamburger">
                  <a href="#"><i class="far fa-moon white "></i></a>
                  <a href="#"><i class="fas fa-bars "></i></a>
              </div>
          </div>
          <ul class="nav-links">
              <li><a routerLink="/welcome">HOME</a></li>
              <li><a routerLink="/about">ABOUT</a></li>
              <li><a routerLink="/digital">DIGITAL MENU</a></li>
              <li><a routerLink="../login">LOGIN</a></li>
          </ul>
      </nav>

<div class="about_us">
  <h2 style="text-align: center;">OUR COMPANY</h2>
  <div class="mission">
    <span>MISSION</span>
    <p>Our mission is to bring entertainers together and a platform for upcoming artist to grow. </p>
  </div>
  <span style="text-align: center;">HISTORY</span>
  <p style="text-align: center;"> MMINO Restaurant was inspired by an event that Mr Mabaso had been doing called MMINO
    Sunday's, for the last five years. This event offered a live platform for artists of any kind, to
    come and showcase their talents. Artists were given an opportunity to showcase these talents
    to the locals and try and make a name for themselves. However, due to the constant hopping
    from venue to venue, Mr Mabaso decided that he needed a concrete place that would be seen
    as a suitable home for the various activities. MMINO Restaurant focuses on selling African
    cuisine, both modern and traditional foods.</p><br>
    <ul class="img-list">
      <li><img src="../../assets/Home/Pic12.PNG" style="width: 500px; height: 300px;border-radius: 0px;" alt=""></li>
      <li><img src="../../assets/Home/Pic13.PNG" style="width: 500px; height: 300px;border-radius: 0px;" alt=""></li>
      <li><img src="../../assets/Home/Pic14.PNG" style="width: 500px; height: 300px;border-radius: 0px;" alt=""></li>
      <li><img src="../../assets/Home/Pic15.PNG" style="width: 500px; height: 300px;border-radius: 0px;" alt=""></li>
      <li><img src="../../assets/Home/Res3.jpg" style="width: 500px; height: 300px;border-radius: 0px;" alt=""></li>
      <li><img src="../../assets/Home/Res5.jpg" style="width: 500px; height: 300px;border-radius: 0px;" alt=""></li>
      <li><img src="../../assets/Home/Res1.jpg" style="width: 500px; height: 300px;border-radius: 0px;" alt=""></li>
      <li><img src="../../assets/Home/Res2.jpg" style="width: 500px; height: 300px;border-radius: 0px;" alt=""></li>
       <li><img src="../../assets/Home/Res4.jpg" style="width: 500px; height: 300px;border-radius: 0px;" alt=""></li>
    </ul><br><br>
  <span>MMINO Restaurant resides in Hatfield, Pretoria currently and focuses on offering African
    cuisine, as well as providing live entertainment to the guests.</span>
</div>
<div class="footer">
  <div class="address">
    <span class="street">Main Office Address:</span>
    <span class="street">1005 Arcadia St Hatfield</span>
    <span class="street">Pretoria, 0028</span>
  </div>
  <div class="phone">
    <span>Phone: 081 027 9584</span>
  </div>
  <div class="email">
    <!-- TODO code rest of text -->
    <span class="email">Ask your question by email</span>
    <a class="email" href="pietmabaso@gmail.com"><i class="icon-email"></i>pietmabaso@gmail.com</a>
  </div>
  <div class="copyright">
    <span>© 2023 </span>
  </div>
</div>

