.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .text {
    font-size: 20px;
    padding-left: 20px;
  }
  .container1 {
    background: url('/pix/samples/bg2.png') beige;
    color: rgba(0, 0, 0, 1);
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center
  }

  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  display:block;
  position: fixed;
  z-index: 12;
  width: 100%;
  background: #292c2f;
  color: rgba(255, 255, 255, 0.5);
  height: 50pt;
}

h1 {
  display: inline-block;
  position: absolute;
  padding: 4pt;
}

.header > input, 
.header > label 
{
  display: none;
}

/* NAVIGATION */
nav {
  display: inline-block;
  float: right;
  width: 50%;
  margin: 10pt auto;
}
nav > ul {
  list-style: none;
  text-align: right;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 8px;
}
nav > ul > li > a,
nav > ul > li > a:after,
nav > ul > li > a:before {
  transition: all .5s;
}
nav > ul > li > a:hover {
  color: #555;
}



/* Circle */
nav.circle > ul > li > a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle > ul > li > a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle > ul > li > a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

.about_us{
  display: block;
  width: 100%;
  min-height: 60vh;
  // background: #ffffff;
  background: url('/pix/samples/bg2.png') beige;
  color: rgba(255, 255, 255, 0.7);
  vertical-align: middle;
  text-align: left;
  position: relative;
  padding: 150px 10% 50px 10%;
}

.about_us > h2{
  display: block;
  color: rgb(0, 0, 0);
  font-size: 32px;
  line-height: 31px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto 30px;
}

.about_us > span {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  margin: 20px auto 10px;
}

.about_us > p{
  display: block;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  margin: 0 auto 10px;
}

.about_us > img{
  display: block;
  margin-bottom: 20px;
}

.about_us > .mission{
  color: rgb(0, 0, 0);
  display: blcok;
  width: 60%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #DCF5F5;
  margin-left: 20%;
  padding: 5px 10px; 

}

.about_us > .mission > span{
  display: block;
  margin: 0 auto 10px;
  font-size: x-large;
  text-align: center;
  font-weight: 500;
  line-height: 1.75;
}
.about_us > .mission > p{
  display: block;
  color: rgb(0, 0, 0);
  margin: 0 auto 10px;
  text-align: center;
  font-weight: 500;
  line-height: 1.75;
}

.footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  height: 400px;
  position: auto;
}

.footer > .address {
  display: inline-block;
  position: relative;
  margin-left: 10%;
  margin-top: 50px;
  width: auto;
  float: left;
}
.footer > .address > span{
  display: block;
  padding-top: 10px;
}
.footer > .phone {
  display: inline-block;
  width: auto;
  position: relative;
  margin-right: 10%;
  margin-top: 50px;
  float: right;
}
.footer > .phone > span{
  display: block;
  padding-top: 10px;
  text-align: right;
}
.footer > .email {
  margin-right: 10%;
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  position: relative;
  float: right;
}
.footer > .email > .email{
  display: block;
  padding-top: 10px;
  text-align: right;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.footer > .copyright {
  display: inline-block;
  margin: 70px 0 60px 10%;
  width: 80%;
  position: relative;
}

@media (max-width: 900px) {
  
  .header > #nav + label + nav.circle {
    display: none;
    width: 120px;
    padding: 10px;
    background-color :#292c2f;
  }

  .header > #nav:checked + label + nav.circle {
    display: block;
  }


  .header > nav.circle> ul {
    display: block;
    width: 100%;
    text-align: left;
  }

  .header > nav.circle > ul> li {
    display: block;
    font-size: 80%;
  }  

  .header > nav.circle {
    position: absolute;
    top: 54px;
    right: 0;
    z-index: 100;
    text-align: left;
  }   

  .header > label {
    display: inline-block;
    float: right;
    width: 48px;
    height: 48px;
    padding: 16px;
  }
}

.img-list {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    .img-list li {
    border: 5px solid transparent;
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    position: relative;
    cursor: pointer;
    }
    .img-list img {
    max-width: 100%;
    vertical-align: middle;
    }
    
    /* Image Placeholder Styles
    -------------------------------------------------------------- */
    .img-placeholder:before,
    .img-placeholder:after {
    padding-top: 33.33%;
    content: "";
    display: block;
    }  
    .img-placeholder {
    background: #222;
    box-shadow: 0 0 0 8px #222 inset, 0 0 0 9px #333 inset;
    color: #444;
    line-height: 0;
    text-align: center;
    display: block;
    }
    
    /* The hover effect
    -------------------------------------------------------------- */
    .img-list li:before {
    transition: all .5s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    transform: scale(0);
    }
    .img-list li:hover:before {
    opacity: .5;
    transform: scale(1);
    }
    .img-list li:after {
    transition: all .6s ease .2s;
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 1px solid #aaa;
    background: #000;
    opacity: 0;
    transform: scale(0);
    }
    .img-list li:hover:after {
    opacity: .35;
    transform: scale(1);
    }
    ul {
      text-align: center;
      list-style-position: inside;
      font-style: italic;
    }