<div class="modal-header">
    <h2 mat-dialog-title>{{ data.title }} Slot </h2>
    <button mat-icon-button class="close-button" (click)="closeDialog()">
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <!-- <p>Event: {{data.eventName}}</p> -->
    <p>Time: {{ data.startStr }} - {{ data.endStr }} </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="editEvent()">ADD</button>
    <button mat-button color="warn" (click)="deleteEvent(data.scheduleId)">DELETE</button>
  </div>
  
  