<!-- <div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          <app-navbar></app-navbar>
      </div>
<div class="login-wrapper" style="margin-left: 25%; margin-top: -70%;" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" >
      <mat-card-header>
        <h2>Add Menu Item</h2>
      </mat-card-header><br>
      <form class="form" [formGroup]="productForm" (submit)="onSubmit()" enctype="multipart/form-data">
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter the Menu Item Name" formControlName="name">
          </mat-form-field><br>
          <mat-form-field class="full-width">
            <mat-label> Description</mat-label>
            <textarea matInput formControlName="description"> </textarea>
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>Menu Type</mat-label>
            <mat-select formControlName="menuType">
                <mat-option *ngFor="let item of menuTypesData"  [value]="item.menu_TypeId">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Food Type</mat-label>
            <mat-select formControlName="foodType" >
                <mat-option *ngFor="let item of foodTypesData"  [value]="item.foodTypeId">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Menu Category</mat-label>
            <mat-select formControlName="menuCategory" >
                <mat-option *ngFor="let item of menuItemCategoryData"  [value]="item.menu_CategoryId">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field><br>
        <mat-form-field class="full-width">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Enter the Amount" formControlName="amount" type="number">
        </mat-form-field><br>
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" >Submit</button>
        
      </form>
    </mat-card>
  </div>
</div>
</div> -->





<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-10 order-md-2">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center mb-4">Add Menu Item</h4>
          <hr>
          <div class="container">
            <div class="row">
<form [formGroup]="productForm" class="form-horizontal"  (ngSubmit)="onSubmit()">
  <div class="form-group">
    <span>
      <label class="tb col-sm-1" style="font-weight: bold;" for="name"> Name:</label>
      <div class="col-sm-6">
        <input class="form-control"  placeholder="Enter Name" [required]="true" name="name" formControlName="name">
      </div>
    </span>
  </div>

    <div class="form-group">
      <span>
        <label class="col-sm-1" style="font-weight: bold;" for="description">Description:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="Enter Description" [required]="true" name="description" formControlName="description">
        </div>
      </span>
    </div>

    <div class="form-group">
      <label class="col-md-1" style="font-weight: bold;" for="menu_TypeId" >Menu Type</label>
      <div class="col-sm-6">
        <select class="form-control" formControlName="menu_TypeId" (change)="onMenuTypeChange()" >
          
          <option *ngFor="let item of menuTypesData" [value]="item.menu_TypeId">{{ item.name }}</option>
        </select>
      </div>
    </div>

       <div class="form-group">
      <label class="col-md-1" style="font-weight: bold;" for="menu_CategoryId" >Menu Category</label>
      <div class="col-sm-6">
        <select class="form-control"  formControlName="menu_CategoryId"  (change)="onMenuCategoryChange()">
          
          <option *ngFor="let item of filteredMenuCategories" [value]="item.menu_CategoryId">{{ item.name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-1" style="font-weight: bold;" for="foodTypeId">Food Type</label>
      <div class="col-sm-6">
        <select class="form-control" formControlName="foodTypeId" >
          
          <option *ngFor="let item of filteredFoodTypes" [value]="item.foodTypeId">{{ item.name }}</option>
        </select>
      </div>
    </div>

 

    <div class="form-group">
      <label class="col-md-1" style="font-weight: bold;" for="amount">Price:</label>
      <div class="col-sm-6">
        <input class="form-control" placeholder="Enter Menu Item Price" required name="amount" formControlName="amount">
      </div>
    </div>
    

    <!-- <div class="form-group"> -->
      <div class="col-sm-offset-1 col-sm-6 center-buttons">
      <div class="buttons">
        <span>
        <button style="margin-right:1em;" type="submit" [disabled]="!productForm.valid" class="btn btn-sm btn-success">Add</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
      </span>
      </div>
      </div>
    <!-- </div> -->
  </form>
  <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help"  matTooltip="Help">
    <mat-icon style="font-size: 24px;">help</mat-icon>
  </button>
  </div>
 </div> 
  </div>
  </div>
</div>



  