<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar>
        </div>
    <div class="col-md-10 order-md-2">
  <h4 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px;"> New Entertainment Event </h4>
  <hr>

   <div class="container">
     <div class="row">
        <form [formGroup]="eventsForm" class="form-horizontal" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class=" col-md-1" style="font-weight: bold;" for="event_name">Event Title:</label>
                <div class="col-md-6">
                  <input class="form-control" placeholder="Enter event title" [required]="true" name="event_name" formControlName="event_name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1" style="font-weight: bold;" for="description">Description:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" type="text" id="description" placeholder="Provide description" [required]="true" formControlName="description"></textarea>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-6">
                    <button style="margin-right:1em;" type="submit" [disabled]="!eventsForm.valid" class="btn btn-sm btn-success">Create</button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Discard</button>
                  </div>
            </div>
        </form>
     </div>
   </div>

   
   
</div>

