<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">
                          <img src="../../assets/Nav_image/Africanacity.png"  alt="Avatar" class="avatar">
                          Change password
                      </h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="changeForm.controls['oldpassword'].dirty && changeForm.hasError('required','oldpassword')"> <span class="fa fa-user p-2"></span> <input formControlName="oldpassword" type="text" placeholder="Old password" required> </div>
                            </div>
                            <small *ngIf="changeForm.controls['oldpassword'].dirty && changeForm.hasError('required','oldpassword')" class="text-danger">*Old password is required*</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="changeForm.controls['newpassword'].dirty && changeForm.hasError('required','newpassword')"> <span class="fa fa-lock px-2"></span> <input formControlName="newpassword" [type]="type" placeholder="New password"> <button type="button" (click)="hideShowPass()" class="bg-white text-muted"> <span class="fa {{eyeIcon}}"></span> </button></div>
                            </div>
                            <small *ngIf="changeForm.controls['newpassword'].dirty && changeForm.hasError('required','newpassword')" class="text-danger">*New password is required*</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="changeForm.controls['confirmpassword'].dirty && changeForm.hasError('required','confirmpassword')"> <span class="fa fa-lock px-2"></span> <input formControlName="confirmpassword" [type]="type" placeholder="Confirm password"> <button type="button" (click)="hideShowPass()" class="bg-white text-muted"> <span class="fa {{eyeIcon}}"></span> </button></div>
                            </div>
                            <small *ngIf="changeForm.controls['password'].dirty && changeForm.hasError('required','confirmpassword')" class="text-danger">*Password is required*</small>
                            <div>
                                <button type="submit"  class="btn btn-primary btn-block mt-4 w-50">Submit</button>
                                <button type="submit"  routerLink="../view-profile"  class="btn btn-danger btn-block mt-4 w-50">Cancel</button>
                            </div>
                           
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>