<h2 mat-dialog-title>Help: Create a Discount Percentage</h2>
<div mat-dialog-content>
    <p>If you're unsure how to create a discount percentage information to the system, please follow the steps mentioned below</p>
    <ul>
        <li><strong>Step 1:</strong>Enter the name of the Discount percentage.</li>
        <li><strong>Step 2:</strong>Input the description of the discount percentage if necessary.</li>
        <li><strong>Step 2:</strong>Input the amount in decimals of the discount percentage if necessary.</li>
        <li><strong>Step 3:</strong> Create the discount information, by clicking the "Add" button</li>
        <li><strong>Step 4:</strong> Cancel adding the discount information, by clicking the "Cancel" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the discount information</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
