
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-10 order-md-2">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center mb-4">Add Inventory Item</h4>
          <hr>
          <div class="container">
            <div class="row">
<form [formGroup]="inventoryItemForm" class="form-horizontal"  (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="col-md-1" style="font-weight: bold;" for="itemName">Name:</label>
    <div class="col-md-6">
      <input class="form-control" placeholder="Enter Inventory Name" [required]="true" name="itemName"
        formControlName="itemName">
    </div>
  </div>
      
  <div class="form-group">
    <label class="col-md-1" style="font-weight: bold;" for="inventoryType">Inventory Type</label>
    <div class="col-md-6">
      <select class="form-control" id="inventoryType" formControlName="inventoryType">
        <option value="" disabled selected>Select</option> <!-- Placeholder -->
        <option *ngFor="let item of inventoryTypesData" [value]="item.inventory_TypeId">{{ item.name }}</option>
      </select>
    </div>
  </div>
    
  <div class="form-group">
    <label class="col-md-1" style="font-weight: bold;" for="price">Price:</label>
    <div class="col-md-6">
      <input class="form-control" placeholder="Enter Inventory Price" required name="price" formControlName="price">
    </div>
  </div>

       <div class="form-group">
              <span>
                <label class="col-sm-1" style="font-weight: bold;" for="description">Description</label>
                <div class="col-sm-6">
                  <input class="form-control" placeholder="Description" [required]="true" name="description"
                    formControlName="description">
                </div>
              </span>
            </div>
    
    <div class="form-group">
      <label class="col-sm-1" style="font-weight: bold;">Quantity</label>
      <div class="col-sm-6">
        <div class="input-group">
          <input type="number" class="form-control" formControlName="quantity"  min="1">
        </div>
      </div>
    </div>
      <div class="col-sm-offset-1 col-sm-6 center-buttons">
      <div class="buttons">
        <span>
        <button style="margin-right:1em;" type="submit" class="btn btn-sm btn-success">Add</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
      </span>
      </div>
      </div>
  </form>
  <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help" matTooltip="Help">
    <mat-icon>help</mat-icon>
  </button>
  </div>
 </div> 
  </div>
  </div>
</div>



  





