<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar>
        </div>
    <div class="col-md-10 order-md-1">
    <h3 style="text-align: center;">Help Q&A Listing </h3>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm">
            <button class="btn" (click)="search(searchTerm)">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
      </div>
    
    <table class="table table-striped table-hover"> 
        <thead >

                <th scope="col">ID</th> 
                <th scope="col">Name</th> 
                <th scope="col">Description</th>
                <th scope="col"></th>
        </thead> 
        <tbody> 
            <tr *ngFor="let help of helps"> 
                <td>{{help.helpId}}</td>
                <td>{{help.name}}</td> 
                <td>{{help.description}}</td> 
                <td>
                    <button style="margin-right: 1em;" [routerLink]="['/edit-help', help.helpId]" type="button" class="btn btn-sm btn-primary" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="deleteHelp(help.helpId)" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                </td>
            </tr> 
        </tbody>  
    </table>
    </div>
    </div>
    
