<div class="col-md-2">
  <app-navbar></app-navbar>
</div>

<div class="col-md-10">
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="width: 1700px;">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
      <img src="../../assets/Nav_image/Africanacity.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
      Hello {{fullName}}
      <h6></h6>
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a style="background: red;
          color: #fff;
          border-radius: 4px;
          margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <button style="margin-left: 15rem;" mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help">
        <mat-icon>help</mat-icon>
      </button>
      <h1 class="text-center" style="margin-left: 15rem;">Events</h1><br><br>
      <div class="col-md-12" style="margin-left: 20%;">
        <div class="row">
          <div class="col-md-4" *ngFor="let event of bookingevents">
            <div class="card mb-4" style="border-radius: 1%;">
              <img class="card-img-top" style="width:auto; height:15rem; border-radius:1rem;" src='data:image/png;base64,{{ event.image }}'  alt="No image">
              <div class="card-body">
                <h5 class="card-title"><b>{{event.name}}</b></h5>
                <p class="card-text">{{event.description}}</p>
                <p>Date: {{event.date}} </p>
                <p>Start 9pm until late</p>
                <p>Venue: Mmino Restaurant, Hatfield </p>
                <p><button  [routerLink]="['/booking', event.eventId]" >Make Booking</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
