<div class="col-md-2">
    <app-navbar></app-navbar> 
</div>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
    <img src="../../assets/Nav_image/Africanacity.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
    Hello {{fullName}} <h6>
    </h6></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
      <div class="nav-item text-nowrap">
          <a style="background: red;
          color: #fff;
          border-radius: 4px;
          margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
      </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <h1 style="margin-left: 50%;"> Events</h1><br><br>
    <div class="card" style="margin-left: 13%; margin-bottom: 10%;"  *ngFor="let event of bookingevents">
      <img src="../../assets/Nav_image/Avatar2.jpeg" alt="Events" style="width:100%; height: 50%; border-radius: 1%;">
      <h1>{{event.name}}</h1>
      <p>{{event.description}}</p>
      <p>Date: 2023-08-10 </p>
      <p>Start 9pm until late</p>
      <p>Venue: Mmino Restarurant, Hatfield </p>
      <p><button  [routerLink]="['/booking', event.eventId]" >Make Booking</button></p>
    </div>
  </div>
</div>
