
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-10 order-md-2">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center mb-4">Add Employee</h4>
          <hr>
          <div class="container">
            <div class="row">
<form [formGroup]="employeeForm" class="form-horizontal"  (ngSubmit)="onSubmit()">
  <div class="form-group">
    <span>
      <label class="tb col-sm-1" style="font-weight: bold;" for="surname"> Surname:</label>
      <div class="col-sm-6">
        <input class="form-control"  placeholder="Enter Last Name" [required]="true" name="surname" formControlName="surname">
      </div>
    </span>
  </div>
  
    <div class="form-group">
      <span>
        <label class="tb col-sm-1" style="font-weight: bold;" for="firstName">First Name:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="Enter First Name" [required]="true" name="firstName" formControlName="firstName">
        </div>
      </span>
    </div>

    <div class="form-group">
      <label class="col-md-1" style="font-weight: bold;" for="gender">Gender:</label>
      <div class="col-md-6">
      <select class="form-control" id="gender" formControlName="gender">
        <option *ngFor="let item of gender" [value]="item.genderId">{{ item.name }}</option>
      </select>
    </div>
    </div>
     
    
    
    <div class="form-group">
      <label class="col-md-1" style="font-weight: bold;" for="employeeRole">Employee Role</label>
      <div class="col-md-6">
      <select class="form-control" id="employeeRole" formControlName="employeeRole">
        <option *ngFor="let item of employeeRole" [value]="item.employee_RoleId">{{ item.name }}</option>
      </select>
    </div>
    </div>
    
   

    <div class="form-group">
      <span>
        <label class="col-sm-1" style="font-weight: bold;" for="email_Address">Email Address:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="xxxxx@gmail.com" [required]="true" name="email_Address" formControlName="email_Address">
          <div *ngIf="employeeForm.get('email_Address')?.hasError('invalidEmailFormat')" class="text-danger">
            <div style="font-size: small;">*Email must have the above format.</div>
          </div>
        </div>
      </span>
    </div>

    <div class="form-group">
      <span>
        <label class="col-sm-1" style="font-weight: bold;" for="physical_Address">Physical Address:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="Enter Physical Address" [required]="true" name="physical_Address" formControlName="physical_Address">
        </div>
      </span>
    </div>

    <div class="form-group">
      <span>
        <label class="col-sm-1" style="font-weight: bold;" for="phoneNumber">Phone Number:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="Enter valid 10-digit number" [required]="true" name="phoneNumber" formControlName="phoneNumber">
          <div *ngIf="employeeForm.get('phoneNumber')?.hasError('invalidPhoneNumber')" class="text-danger">
            <div style="font-size: small;">*Number must be a valid 10-digit number.</div>
          </div>
        </div>
      </span>
    </div>
    
    <div class="form-group">
      <label class="col-sm-1" style="font-weight: bold;" for="employment_Date">Employement Date:</label>
      <div class="col-sm-6">
      <input type="date" formControlName="employment_Date" [attr.readonly]="true" class="form-control">
      </div>
    </div>

    <!-- <div class="form-group"> -->
      <div class="col-sm-offset-1 col-sm-6 center-buttons">
      <div class="buttons">
        <span>
        <button style="margin-right:1em;" type="submit" [disabled]="!employeeForm.valid" class="btn btn-sm btn-success">Add</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
      </span>
      </div>
      </div>
    <!-- </div> -->
  </form>
  </div>
 </div> 
  </div>
  </div>
</div>



  