
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-10 order-md-2">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center mb-4">Add Employee</h4>
          <hr>
          <div class="container">
            <div class="row">
<form [formGroup]="employeeForm" class="form-horizontal"  (ngSubmit)="onSubmit()">
  <div class="form-group">
    <span>
      <label class="tb col-sm-1" style="font-weight: bold;" for="surname"> Surname:</label>
      <div class="col-sm-6">
        <input type="text" formControlName="surname" placeholder="Enter Surname"  [class.is-invalid]="isControlInvalid('surname')">
      </div>
    </span>

  </div>

    <div class="form-group">
      <span>
        <label class="tb col-sm-1" style="font-weight: bold;" for="firstName">First Name:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="Enter First Name" [required]="true" name="firstName" formControlName="firstName" [ngClass]="{'invalid-control': isControlInvalid('firstName')}">
        </div>
      </span>
    </div>

    <div class="form-group">
      <label class="col-md-1" style="font-weight: bold;" for="gender">Gender:</label>
      <div class="col-md-6">
      <select class="form-control" id="gender" formControlName="gender" [ngClass]="{'invalid-control': isControlInvalid('gender')}">
        <option value="" disabled selected>Select</option> <!-- Placeholder -->
        <option *ngFor="let item of gender" [value]="item.genderId">{{ item.name }}</option>
      </select>
    </div>
    </div>
     
    
    <div class="form-group">
      <label class="col-md-1" style="font-weight: bold;" for="employeeRole">Employee Role</label>
      <div class="col-md-6">
      <select class="form-control" id="employeeRole" formControlName="employeeRole" [ngClass]="{'invalid-control': isControlInvalid('employeeRole')}">
        <option value="" disabled selected>Select</option> <!-- Placeholder -->
        <option *ngFor="let item of employeeRole" [value]="item.employee_RoleId">{{ item.name }}</option>
      </select>
    </div>
    </div>

    <div class="form-group">
      <span>
        <label class="col-sm-1" style="font-weight: bold;" for="email_Address">Email Address:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="Enter Email" [required]="true" name="email_Address" formControlName="email_Address" [ngClass]="{'invalid-control': isControlInvalid('email_Address')}" >
          <div *ngIf="employeeForm.get('email_Address')?.hasError('invalidEmailFormat')" class="text-danger">
            <div style="font-size: small;">*Invalid email.</div>
          </div>
        </div>
      </span>
    </div>

    <div class="form-group">
      <span>
        <label class="col-sm-1" style="font-weight: bold;" for="physical_Address">Physical Address:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="Enter Physical Address" [required]="true" name="physical_Address" formControlName="physical_Address" [ngClass]="{'invalid-control': isControlInvalid('physical_Address')}">
        </div>
      </span>
    </div>

    <div class="form-group">
      <span>
        <label class="col-sm-1" style="font-weight: bold;" for="phoneNumber">Phone Number:</label>
        <div class="col-sm-6">
          <input class="form-control" placeholder="Enter valid 10-digit number"
          [required]="true" name="phoneNumber" formControlName="phoneNumber"
          [ngClass]="{'invalid-control': isControlInvalid('phoneNumber')}">
   <div *ngIf="employeeForm.get('phoneNumber')?.hasError('invalidPhoneNumber')" class="text-danger">
     <div style="font-size: small;">*Number must be a valid South African 10-digit number.</div>
   </div>
        </div>
      </span>
    </div>
    
    <div class="form-group">
      <label class="col-sm-1" style="font-weight: bold;" for="employment_Date">Employment Date:</label>
      <div class="col-sm-6">
      <input type="date" formControlName="employment_Date" [attr.readonly]="true" class="form-control">
      </div>
    </div>

        
    <div class="form-group">
      <span>
        <label class="col-sm-1" style="font-weight: bold;" for="salary">Salary:</label>
        <div class="col-sm-6 input-group"> <!-- Add the 'input-group' class here -->
          <div class="input-group-prepend"> <!-- Add this div for the currency symbol -->
            <span style="height: 2.5rem;" class="input-group-text">R</span> <!-- Here, 'R' is the currency symbol -->
          </div>
          <input style="width: 10rem;" class="form-control" placeholder="Enter salary" [required]="true" name="salary" formControlName="salary">
        </div>
      </span>
    </div>

    <!-- <div class="form-group"> -->
      <div class="col-sm-offset-1 col-sm-6 center-buttons">
      <div class="buttons">
        <span>
        <button style="margin-right:1em;" type="submit"  class="btn btn-sm btn-success">Add</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
      </span>
      </div>
      </div>
    <!-- </div> -->

</form>
<!-- <div *ngIf="isControlInvalid('surname')" class="error-message">
  <ng-container *ngIf="employeeForm.get('surname')?.hasError('whitespace')">Input cannot be whitespace</ng-container>
  <ng-container *ngIf="employeeForm.get('surname')?.hasError('required')">Last name is required</ng-container>
</div> -->
<button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help" matTooltip="Help">
  <mat-icon>help</mat-icon>
</button>
 </div> 
  </div>
  </div>
</div>
    </div>
  </div>




  