<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar>
        </div>
    <div class="col-md-10 order-md-1">
    <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder;">Employee Listing </h3>
 
    <div class="input-group">
        <div class="search-bar">
        <input type="text" class="form-control" (input)="applyFilter($event)" placeholder="Search Columns">
        </div>
      <div class="addButton">
        <i class="fa fa-download fa-lg icon" aria-hidden="true" (click)="downloadPDF()" matTooltip="Download"></i>
    
      </div> 
        </div>
        <label></label>

    <table class="table table-striped table-hover table-container outlined-table">
        <thead class="tableColor">

                <th scope="col">ID</th>
                <th scope="col">Surname</th>
                <th scope="col">First Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Type</th>
                <th scope="col">Email</th>
                <th scope="col">Cell</th>
                <th scope="col">Address</th>
                <th scope="col">Employment Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of filteredemployees">
                <td>{{employee.employeeId}}</td>
                <td>{{employee.surname}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.genderName}}</td>
                <td>{{employee.employeeRoleName}}</td>
                <td>{{employee.email_Address}}</td>
                <td>{{employee.phoneNumber}}</td>
                <td>{{employee.physical_Address}}</td>
                <td>{{employee.employment_Date | date}}</td>
                
                
                  <td> <i class="fa fa-pencil" [routerLink]="['/edit-employee', employee.employeeId]" aria-hidden="true" matTooltip="Edit"></i></td>
                  <td><i class="fa fa-trash"  (click)="DeleteEmployee(employee.employeeId)" aria-hidden="true" matTooltip="Delete"></i></td>
            </tr>
        </tbody>
    </table>
    <button style="margin-left: 1410px; margin-top: 150px;"  mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help"  matTooltip="Help">
      <mat-icon style="font-size: 24px;">help</mat-icon>
    </button>
    </div>
    </div>

