<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar>
        </div>
    <div class="col-md-10 order-md-1">
        <label></label>
    <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder;">Entertainer Listing </h3>
 
    <div class="input-group">
        <div class="search-bar">
            <input type="text" class="form-control" (input)="applyFilter($event)" placeholder="Search Event">
        </div>
        <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help"  matTooltip="Help">
            <mat-icon style="font-size: 24px;">help</mat-icon>
          </button>
    </div>
    <div class="ploader-container" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <p class="ploading-message">Loading...</p>
      </div>
      <div *ngIf="ActionLoading" class="loader-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <p class="loading-message">Processing...</p>
      </div>
              <table class="table table-striped table-hover table-container outlined-table">
                  <thead class="tableColor">
                      <tr>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Username</th>
                          <th scope="col">Mobile Number</th>
                          <th scope="col">Email</th>
                          <th scope="col">Entertainment Type</th>
                          <th scope="col">Physical Address</th>
                          <th scope="col"></th>
                  
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let entertainer of filteredentertainers">
                          <!-- <td>{{entertainer.id}}</td> -->
                          <td>{{entertainer.firstName}}</td>
                          <td>{{entertainer.lastName}}</td>
                          <td>{{entertainer.username}}</td>
                          <td>{{entertainer.contactNumber}}</td>
                          <td>{{entertainer.email}}</td>
                          <td>{{entertainer.entertainmentTypeName}}</td>
                          <td>{{entertainer.physicalAddress}}</td>
                          <td>
                            <i class="fa fa-trash"  (click)="deleteEntertainer(entertainer.id)" aria-hidden="true"></i> 
                        </td>
                      </tr>
                  </tbody>
              </table>


