<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!--ion-alert
  [isOpen]="isAlertOpen"
  header="Success"
  subHeader=""
  message="Order submittied!"
  [buttons]="alertButtons"
  (didDismiss)="submitOrder(false)"
  ></ion-alert-->
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <!-- Side Navigation Bar for Menu Items -->
        
        <ion-list class="ion-list" style="font-family: Arial, Helvetica, sans-serif;">
          <h2>Menu Types</h2>
          <!-- Create filter options for each MenuType -->
          <ion-item *ngFor="let type of menuType" button (click)="filterMenuItems(type.menu_TypeId)">
            {{ type.name }}
          </ion-item>
      
          <!-- Add more menu types as needed -->
        </ion-list>
       
        <ion-list class="ion-list" style="font-family: Arial, Helvetica, sans-serif;">
          <h2>Drink Types</h2>
          <!-- Create filter options for each DrinkType -->
          <ion-item *ngFor="let type of drinkType" button (click)="filterDrinkItems(type.drink_TypeId)">
            {{ type.name }}
          </ion-item>
      
          <!-- Add more drink types as needed -->
        </ion-list>
      </ion-col>


      <ion-col size="4">
        <!-- Menu Item Listing -->
        <ng-container *ngIf="!isDrinkSelected">
        <h1 class="heading"  >MENU ITEMS</h1>
        <ion-card class="ion-card" *ngFor="let menuItem of filteredMenuItems">
          <ion-card-header>
            <ion-card-title>{{ menuItem.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>Price: {{ fetchMenuItemPrice(menuItem.menuItemId) | currency: 'R ' }}</p>
            <ion-button fill="clear" (click)="addToMenuItemOrder(menuItem)" class="ion-button" style="color: black;">Add to Order</ion-button>
          </ion-card-content>
        </ion-card>
      </ng-container>

        <ng-container  *ngIf="isDrinkSelected">
        <h2 class="heading">BEVERAGES</h2>
        <ion-card class="ion-card" *ngFor="let drinkItem of filteredDrinkItems">
          <ion-card-header>
            <ion-card-title>{{ drinkItem.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- Add relevant properties for drinks -->
            <p>Price:  {{ fetchDrinkItemPrice(drinkItem.otherDrinkId) | currency: 'R '}} </p>
            <ion-button fill ="clear" (click)="addToDrinkOrder(drinkItem)" class="ion-button" style="color: black;">Add to Order</ion-button>
          </ion-card-content>
        </ion-card>
      </ng-container>
      </ion-col>
   

      <ion-col size="5" class="ion-card" id="orderSummary">
        <ion-list>
        <!-- Order Summary for Menu Items -->
        <ion-list>
          <!-- Order Summary for Menu Items -->
          <h2 class="heading2">Order Summary </h2>
        
          <!-- Table Number -->
          <ion-item *ngIf="tableNumber">
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <p class="order-info">Table Number:</p>
                </ion-col>
                <ion-col size="4" class="align-right">
                  <p class="order-info">{{ tableNumber }}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        
          <!-- Kitchen Order Number -->
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <p>Kitchen Order Number:</p>
                </ion-col>
                <ion-col size="4" class="align-right">
                  <p >{{ kitchenOrderNumber }}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        
          <!-- Ordered Menu Items -->
          <ion-item *ngFor="let orderedItem of orderedItems" class="order-item">
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <p >{{ orderedItem.name }}</p>
                </ion-col>
                <ion-col size="2" class="price">
                  <p class="order-info">{{ getSelectedMenuItemPrice(orderedItem.menuItemId) | currency: 'R ' }}</p>
                </ion-col>
                <ion-col size="2">
                  <ion-input type="number" [(ngModel)]="orderedItem.quantity" (ionChange)="updateSubtotalAndTotals()" class="small-input"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        
          <!-- Ordered Drinks -->
          <ion-item *ngFor="let orderedDrink of orderedDrinks" class="order-item">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <p >{{ orderedDrink.name }}</p>
                </ion-col>
                <ion-col size="2" class="price">
                  <p class="order-info">{{ getSelectedDrinkItemPrice(orderedDrink.otherDrinkId) | currency: 'R ' }}</p>
                </ion-col>
                <ion-col size="2">
                  <ion-input type="number" [(ngModel)]="orderedDrink.quantity" (ionChange)="updateSubtotalAndTotals()" class="small-input"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        
        <ion-row class="price-row">
          <ion-col size="6">
            <ion-item>
              <p><b>Subtotal:</b></p>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="price">
              <p>{{ subtotal | currency:'R ' }}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row class="price-row">
          <ion-col size="6">
            <ion-item>
              <p><b>Total VAT:</b></p>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="price">
              <p>{{ totalVat | currency:'R ' }}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row class="price-row">
          <ion-col size="6">
            <ion-item>
              <p><b>Total Discount:</b></p>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="price">
              <p>{{ totalDiscount | currency:'R ' }}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row class="price-row">
          <ion-col size="6">
            <ion-item>
              <p><b>Final Total:</b></p>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="price">
              <p>{{ finalTotal | currency:'R ' }}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        
        
        
        
    
       
        
        <ion-item>
        <ion-button id="present-alert" fill="clear" expand="full" (click)="submitOrder()" class="ion-button" style="color: black;">Submit Order</ion-button>
      </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-alert
  trigger="present-alert"
  header="Alert"
  subHeader="Important message"
  message="This is an alert!"
  [buttons]="alertButtons"
></ion-alert>

</ion-content>


