<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
    <h2>Hello {{fullName}}</h2>
  </a>
  <div class="navbar-nav">
    <img src="../../assets/Nav_image/Africanacity.png" alt="" width="50" height="50" style="margin-left: -900%; margin-top: 10%; border-radius: 1%;" class="d-inline-block align-text-top">
    <span style="margin-left: 10px;">Africanacity</span>
  </div>
</header>
<app-dropdown></app-dropdown>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>