<div class="col-md-2">
  <app-navbar></app-navbar> 
</div>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" >
<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
  <img src="../../assets/Nav_image/Africanacity.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
  Hello {{fullName}}<h6>
  </h6></a>
<div class="navbar-nav">
    <div class="nav-item text-nowrap">
        <a style="background: red;
        color: #fff;
        border-radius: 4px;
        margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
    </div>
</div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-10 order-md-2">
<div class="container" style="margin-left: 40rem; width: auto;">
  <div class="card">
    <div class="page-container">
      <div *ngIf="submitting" class="loader-overlay">
        <div class="loader"></div>
        <div class="loading-message">Loading...</div>
      </div>
    <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help" class="help-button">
      <mat-icon>help</mat-icon>
    </button>

  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="update-form">
    <!-- <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help" class="help-button">
      <mat-icon>help</mat-icon>
    </button> -->
    <h2 class="form-title" style="font-family: 'Times New Roman', Times, serif;">Update Profile</h2>

    <div class="form-group">
      <div class="input-container">
        <span class="fa fa-user input-icon"></span>
        <input id="firstName" formControlName="firstName" type="text" placeholder="First Name" class="input-field">
      </div>
      <small class="text-danger" *ngIf="updateForm.controls['firstName'].dirty && updateForm.hasError('required', 'firstName')">*First Name is required*</small>
    </div>

    <div class="form-group">
      <div class="input-container">
        <span class="fa fa-user input-icon"></span>
        <input id="lastName" formControlName="lastName" type="text" placeholder="Last Name" class="input-field">
      </div>
      <small class="text-danger" *ngIf="updateForm.controls['lastName'].dirty && updateForm.hasError('required', 'lastName')">*Last Name is required*</small>
    </div>

    <div class="form-group">
      <div class="input-container">
        <span class="fa fa-user input-icon"></span>
        <input id="username" formControlName="username" type="text" placeholder="UserName" class="input-field">
      </div>
      <small class="text-danger" *ngIf="updateForm.controls['username'].dirty && updateForm.hasError('required', 'username')">*Username is required*</small>
    </div>

    <div class="form-group">
      <div class="input-container">
        <span class="fa fa-phone input-icon"></span>
        <input id="contactNumber" formControlName="contactNumber" type="text" placeholder="Contact Number" class="input-field">
      </div>
      <small class="text-danger" *ngIf="updateForm.controls['contactNumber'].dirty && (updateForm.hasError('required', 'contactNumber') || updateForm.hasError('noSpaces', 'contactNumber') || updateForm.hasError('pattern', 'contactNumber') || updateForm.hasError('allZeros', 'contactNumber'))">
        *{{ updateForm.hasError('noSpaces', 'contactNumber') ? 'Contact Number cannot be just spaces' :
        updateForm.hasError('pattern', 'contactNumber') ? 'Invalid Contact Number' :
        updateForm.hasError('allZeros', 'contactNumber') ? 'Invalid South African Number' : 'Contact Number is required' }}*
      </small>
    </div>

    <div class="form-group">
      <div class="input-container">
        <span class="fa fa-address-book-o input-icon"></span>
        <input id="physicalAddress" formControlName="physicalAddress" type="text" placeholder="Physical Address" class="input-field">
      </div>
      <small class="text-danger" *ngIf="updateForm.controls['physicalAddress'].dirty && updateForm.hasError('required', 'physicalAddress')">*Physical Address is required*</small>
    </div>

    <div class="form-group">
      <div class="input-container">
        <span class="fa fa-envelope input-icon"></span>
        <input id="email" formControlName="email" type="text" placeholder="Email" class="input-field">
      </div>
      <!-- <small class="text-danger" *ngIf="updateForm.controls['email'].dirty && updateForm.hasError('required', 'email')">*Email is required*</small> -->
      <small *ngIf="updateForm.controls['email'].dirty">
        <div *ngIf="updateForm.controls['email'].hasError('required')" class="text-danger"> *Email is required*</div>
        <div *ngIf="!isValidEmail" class="text-danger">*Email is invalid*</div>
      </small>   
    </div>

    <div class="center-buttons">
      <button type="submit" [disabled]="!updateForm.valid" class="btn btn-primary submit-button">Submit</button>
      <button type="button" class="btn btn-danger cancel-button" (click)="cancel()">Cancel</button>
    </div>
  </form>

         </div>
        </div>
      </div>
    </div>
  </div>
</div>



