<h2 mat-dialog-title>Help: Adding an Supplier</h2>
<div mat-dialog-content>
    <p>If you're unsure how to add an Supplier to the system, please follow the steps mentioned below</p>
    <ul>
      <li><strong>Step 1:</strong> Enter in the Name of the Supplier.</li>
      <li><strong>Step 2:</strong>Select the<strong>"Supplier type"</strong>of the supplier from the drop-down.</li>
      <li><strong>Step 3:</strong>Enter in the Email Address the Supplier.</li>
      <li><strong>Step 4:</strong>Enter in the Physical Address the Supplier.</li>
      <li><strong>Step 5:</strong>Enter in the Phone Number the Supplier.</li>
      <li><strong>Step 6:</strong> Add the item, by clicking the "Add" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the item</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

