
   <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar>
        </div>
    <div class="col-md-10 order-md-1">
    <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder;">Supplier Listing </h3>

      <label></label>
      <input type="text" class="form-control" (input)="applyFilter($event)" placeholder="Search Columns">

    <table class="table table-striped table-hover table-container outlined-table">
        <thead class="tableColor">

                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Email</th>
                <th scope="col">Cell</th>
                <th scope="col">Address</th>
                <th scope="col"></th>
                <th scope="col"></th>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of filteredsuppliers">
                <td>{{supplier.supplierId}}</td>
                <td>{{supplier.supplierName}}</td>
                <td>{{supplier.supplierTypeName}}</td>
                <td>{{supplier.email_Address}}</td>
                <td>{{supplier.phoneNumber}}</td>
                <td>{{supplier.physical_Address}}</td>
                
                  <td> <i class="fa fa-pencil" [routerLink]="['/edit-supplier', supplier.supplierId]" aria-hidden="true"></i></td>
                  <td><i class="fa fa-trash"  (click)="DeleteSupplier(supplier.supplierId)" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>



