<h2 mat-dialog-title>Help: Edit an Employee</h2>
<div mat-dialog-content>
    <p>If you're unsure how to edit an employee's information to the system, please follow the steps mentioned below</p>
    <ul>
        <li><strong>Step 1:</strong>Edit the Surname of the Employee.</li>
        <li><strong>Step 2:</strong>Edit the First Name of the Employee.</li>
        <li><strong>Step 3:</strong>Edit the selected<strong>"Gender"</strong>of the employee from the drop-down.</li>
        <li><strong>Step 4:</strong>Edit the selected<strong>"Employee Role"</strong>of the employee from the drop-down.</li>
        <li><strong>Step 5:</strong>Edit the Email Address the Employee.</li>
        <li><strong>Step 6:</strong>Edit the Physical Address the Employee.</li>
        <li><strong>Step 7:</strong>Edit the Phone Number the Employee.</li>
        <li><strong>Step 8:</strong> Update the employee's information, by clicking the "Confirm" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the item</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
