<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-tabs style="outline: 10px;" *ngIf="showTabs">
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
   
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="order">
    <ion-icon name="cart-outline"></ion-icon>
    <ion-label>Menu</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="kitchen-screen">
    <ion-icon name="restaurant-outline"></ion-icon>
    <ion-label>Kitchen</ion-label>
  </ion-tab-button>
 
 
  <ion-tab-button tab="view-kitchen-orders">
    <ion-icon name="restaurant-outline"></ion-icon>
    <ion-label>Orders</ion-label>
 
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>

