.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  .card {
    height: 250px;
    margin-top: 10%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(178, 23, 155, 0.8) !important;
}
  .container {
    height: 100%;
    align-content: center;
    margin-top: 1%;
    width: 100%;
}
  

.icon-size{
    font-size: 50px;
    height:30%;
    width: 30%;
}