
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <app-navbar></app-navbar>
      </div>
      <div class="col-md-10 order-md-2">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center mb-4">Create Food Type</h4>
            <hr>
            <div class="container">
              <div class="row">
  <form [formGroup]="AddFoodTypeForm" class="form-horizontal"  (ngSubmit)="AddFoodType()">
    <div class="form-group">
      <span>
        <label class="tb col-sm-1" style="font-weight: bold;" for="name"> Food Type Name:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="Enter Name" [required]="true" name="name" formControlName="name">
        </div>
      </span>
    </div>
  
      <div class="form-group">
        <span>
          <label class="col-sm-1" style="font-weight: bold;" for="description">Food Type Description:</label>
          <div class="col-sm-6">
            <input class="form-control"  placeholder="Enter Description" [required]="true" name="description" formControlName="description">
          </div>
        </span>
      </div>
      <!-- Add a section to select Menu Categories -->
      
      <div class="form-group" formArrayName="menuCategoryFoodTypeItems">
        <div *ngFor="let menuCategoryFoodTypeItem of menuCategoryFoodTypeItems.controls; let i = index" [formGroupName]="i" class="item-group">
        <span>
          <label class="col-sm-1" style="font-weight: bold;">Select Menu Categories:</label>
          <div class="col-sm-6">
            <select formControlName="menu_CategoryId" class="form-control">
            <option *ngFor="let category of menuCategories"  [value]="category.menu_CategoryId" >
              
              {{ category.name }}
            </option>
            </select>
          </div>
        </span>
      </div>
    </div>

  
      <!-- <div class="form-group"> -->
        <div class="col-sm-offset-1 col-sm-6 center-buttons">
        <div class="buttons">
          <span>
          <button style="margin-right:1em;" type="submit" [disabled]="!AddFoodTypeForm.valid"  class="btn btn-sm btn-success">Add</button>
          <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
        </span>
        </div>
        </div>
      <!-- </div> -->
      <button type="button" (click)="addItem()" class="btn btn-secondary">Add Menu Category</button>
    </form>
    <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help"  matTooltip="Help">
      <mat-icon style="font-size: 24px;">help</mat-icon>
    </button>
    </div>
   </div> 
    </div>
    </div>
  </div>
  
  
  
    