<h2 mat-dialog-title>Help: Adding an Event</h2>
<div mat-dialog-content>
    <p>If you're unsure how to add an event to the system, please follow the steps below</p>
    <ul>
      <li><strong>Step 1:</strong> Enter in the Event Title or name</li>
      <li><strong>Step 2:</strong>Enter in a short Description of the event.</li>
      <li><strong>Step 3:</strong>Enter in the  date when the event takes place.</li>
      <li><strong>Step 4:</strong>Choose an image you want to upload.</li>
      <li><strong>Step 5:</strong> Add the event, by clicking the "Create" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the event</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
