<div class="col-md-2">
  <app-navbar></app-navbar> 
</div>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
  <img src="../../assets/Nav_image/Africanacity.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
  Hello {{fullName}}<h6>
  </h6></a>
<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
<div class="navbar-nav">
    <div class="nav-item text-nowrap">
        <a style="background: red;
        color: #fff;
        border-radius: 4px;
        margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
    </div>
</div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
      <div class="card">
        <div class="card-body">
          <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help">
            <mat-icon>help</mat-icon>
          </button>
          <h2 class="card-title" style="text-align: center;">Change Password</h2>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="oldPassword" style="text-align: center;">Old Password</label>
              <input
                type="password"
                formControlName="oldPassword"
                class="form-control"
                required
              />
            </div>
            
            <div class="form-group">
              <label for="newPassword" style="text-align: center;">New Password</label>
              <input
                type="password"
                formControlName="newPassword"
                class="form-control"
                required
                (input)="updatePasswordStrength()"
              />
              <div class="password-strength" id="newPasswordStrength">
                Password Strength:
                <span class="password-strength-indicator" [ngClass]="passwordStrengthClass">{{ passwordStrength }}</span>
              </div>
              <div *ngIf="passwordsMatch" class="text-danger mt-2">
                New password cannot match the old password.
              </div>
            </div>
            
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control"
                required
                (input)="updateConfirmPasswordStrength()"
              />
              <div class="password-strength" id="confirmPasswordStrength">
                Password Strength:
                <span class="password-strength-indicator" [ngClass]="passwordStrengthClass1">{{ passwordStrength1 }}</span>
              </div>
            </div>
            
            <div *ngIf="formControls['confirmPassword'].hasError('passwordsNotMatch')" class="text-danger">
              Passwords do not match.
            </div>
            
            <!-- <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary" style="text-align: center;">Change Password</button>
            </div> -->
            <div class="form-group" style="margin-left: 10rem;">
              <div class="col-sm-offset-1 col-sm-6">
                <button [disabled]="!changePasswordForm.valid"  style="margin-right:1em;" type="submit" class="btn btn-sm btn-success">Confirm</button>
                <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </form>
          
          <div *ngIf="errorMessage" class="text-danger mt-3">
            {{ errorMessage }}
          </div>
          
          <div *ngIf="successMessage" class="text-success mt-3">
            {{ successMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

