.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.password-strength-indicator {
  font-weight: bold;
}

.weak {
  color: red;
}

.medium {
  color: orange;
}

.strong {
  color: green;
}

/* CSS for the Change Password interface */
.card {
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.help-button {
position: absolute;
top: 10px;
right: 10px;
color: #0d0d0e;
}

.card-title {
font-weight: bold;
font-size: 24px;
margin-bottom: 20px;
}

.form-group {
margin-bottom: 20px;
}

.password-strength-indicator {
font-weight: bold;
}

.text-danger {
color: red;
font-size: 14px;
}

.text-success {
color: green;
font-size: 14px;
}

.text-center {
text-align: center;
}

.btn-success {
background-color: #17bd40a6;
color: #fff;
border-radius: 0.5rem;
}

.btn-danger {
background-color: #dc3545;
color: #fff;
border-radius: 0.5rem;
}
.form-control {
border: 1px solid #ccc;
border-radius: 5px;
padding: 8px;
transition: border-color 0.2s;
}

.form-control:focus {
border-color: #007bff; /* Change the border color when focused */
box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow */
}
.smaller-card {
width: 80%; /* Adjust the width as needed */
padding: 1rem;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

