<h2 mat-dialog-title>Help: Edit a Supplier</h2>
<div mat-dialog-content>
    <p>If you're unsure how to edit a Supplier's information to the system, please follow the steps mentioned below</p>
    <ul>
        <li><strong>Step 1:</strong>Edit the name of the Supplier.</li>
        <li><strong>Step 2:</strong>Edit the selected<strong>"Supplier Type"</strong>of the supplier type from the drop-down.</li>
        <li><strong>Step 3:</strong>Edit the Email Address the Supplier.</li>
        <li><strong>Step 4:</strong>Edit the Physical Address the Supplier.</li>
        <li><strong>Step 5:</strong>Edit the Phone Number the Supplier.</li>
        <li><strong>Step 6:</strong> Update the supplier's information, by clicking the "Confirm" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the item</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

