<ion-header>
  <ion-toolbar>
    <ion-title>Restaurant Management System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs *ngIf="showTabs">

  </ion-tabs>
  <div class="home-container">
    <h2>Welcome to the Restaurant Management!</h2>
    <div class="button-container">
      <ion-button expand="full" (click)="navigateToOrderScreen('Takeaway')"> <ion-icon name="restaurant-outline" slot="start"></ion-icon>Takeaway</ion-button>
      <ion-button expand="full" (click)="navigateToOrderScreen('Sit-in')"> <ion-icon name="restaurant-outline" slot="start"></ion-icon>Sit In</ion-button>
    </div>
  </div>
</ion-content>
