<!-- <mat-toolbar style=" background-color: rgb(165, 113, 207); ;" class="center">
  <img src="../../assets/Nav_image/Africanacity.png" alt="" width="40" height="40" style="margin-left: 50%;"class="d-inline-block align-text-top">
  Africanacity
</mat-toolbar> -->
 <div class="container" >
    <mat-card class="box" *ngIf="!isLoading">
     
      <mat-card-header>
        <mat-card-title> MMINO </mat-card-title>
        <img mat-card-avatar src="../../assets/Nav_image/Africanacity.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
        <mat-card-subtitle>Login </mat-card-subtitle>
      </mat-card-header>
      <form class="form" [formGroup]="loginFormGroup">
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label class="fa fa-envelope-o">Username </mat-label>
            <input matInput placeholder="Enter your Email address" formControlName="UserName">
          </mat-form-field><br>
          <mat-form-field class="full-width">
            <mat-label>Password </mat-label>
            <!-- <input type="password" matInput placeholder="Enter your password" formControlName="Password"> -->
            <input matInput [type]="visablePassword ? 'text' : 'password'" [(ngModel)]="password" formControlName="Password">
            <mat-icon matSuffix (click)="PasswordVisibility()">
              {{visablePassword? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
        <button mat-raised-button color="primary" (click)="LoginUser()"> Log in </button><br>
        </mat-card-actions>
        <div><a [routerLink]="['../forgot-password']">Forgot Password?</a></div><br>
        <div>Change Password? <a routerLink="../update-password"> here</a></div><br>
        <div>Don't have an account? Register <a routerLink="../register"> here</a></div>
      </form>
    </mat-card>
    <mat-progress-spinner mode="indeterminate" value="50" *ngIf="isLoading">
    </mat-progress-spinner>
  </div>   

  <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->

  <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"> -->
              
   
