<h2 mat-dialog-title>Help: Editing an Menu Item</h2>
<div mat-dialog-content>
    <p>If you're unsure how to edit an Menu Item to the system, please follow the steps mentioned below</p>
    <ul>
      <li><strong>Step 1:</strong> Edit the item name should there be any changes that need to made.</li>
      <li><strong>Step 2:</strong> Change the description as desired.</li>
      <li><strong>Step 3:</strong>Select what menu type, the item changed to.</li>
      <li><strong>Step 4:</strong>Select what food type, the item changed to.</li>
      <li><strong>Step 5:</strong>Select what menu category, the item changed to.</li>
      <li><strong>Step 6:</strong> Change the price as desired.</li>
      <li><strong>Step 7:</strong> Confirm the item changes, by clicking the "Confirm" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the item</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>