<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar>
        </div>
    <div class="col-md-10 order-md-1">
        <label></label>
        
<h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: bolder; font-size: 50px;">Vat percentages</h3>

  <div class="input-group">
    <div class="search-bar">
    <input type="text" class="form-control" placeholder="Search Columns">
    </div>
  <div class="addButton">
    <i class="fa fa-plus-circle fa-3x" aria-hidden="true" [routerLink]="'/add-vat'" matTooltip="Add"></i>
  </div> 
    </div>
<table class="table table-striped table-hover outlined-table table-container"> 
    <thead class="tableColor"> 
        <tr> 
            <th scope="col"> </th>
            <th scope="col">Amount</th>
            </tr> 
    </thead> 
    <tbody> 
        <tr *ngFor="let item of filteredTypes">
            <td>{{item.vatId}}</td>
            <td>{{item.amount}}</td>
            
        </tr> 
    </tbody> 
</table>
 <button style="margin-left: 1100x; margin-top: 50px;"  mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help"  matTooltip="Help">
    <mat-icon style="font-size: 24px;">help</mat-icon>
  </button> 
    </div>
    </div>
</div>
