<div class="container-fluid">
  <!-- navbar -->
  <div class="row">
      <div class="col-md-2">
          <app-navbar></app-navbar>
      </div>
  
     <div class="col-md-10 order-md-1">
      <label></label>
          <!-- heading -->
          <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: bolder; font-size: 50px;">Menu Items</h3>
      
          <div class="input-group">
              <div class="search-bar">
                  <!-- search bar-->
                  <input type="text" class="form-control" (input)="applyFilter($event)" placeholder="Search Columns">
              </div>
       
              <div class="addButton">
                  <i type="button" class="fa fa-plus-circle fa-3x" [routerLink]="'/add-menu-item'"></i>
              </div>
          </div>
          <label></label>


<div class="mat-elevation-z8">
 
  <table mat-table [dataSource]="dataSource" matSort>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="menuTypeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu Type </th>
      <td mat-cell *matCellDef="let element"> {{element.menuTypeName}} </td>
    </ng-container>

    <ng-container matColumnDef="foodTypeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Food Type </th>
      <td mat-cell *matCellDef="let element"> {{element.foodTypeName}} </td>
    </ng-container>

    <ng-container matColumnDef="menuCategoryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu Category </th>
      <td mat-cell *matCellDef="let element"> {{element.menuCategoryName}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <i class="fa fa-pencil" (click)="editMenuItem(element.menuItemId)" aria-hidden="true" matTooltip="Edit"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <i class="fa fa-trash"  (click)="deleteMenuItem(element.menuItemId)" aria-hidden="true" matTooltip="Delete"></i>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>  
<button style="margin-left: 1100x; margin-top: 50px;"  mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help"  matTooltip="Help">
  <mat-icon style="font-size: 24px;">help</mat-icon>
</button>