<div class="col-md-2">
    <app-navbar></app-navbar> 
</div>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
    <img src="../../assets/Nav_image/Africanacity.png" class="avatar" alt="" >
    Hello {{fullName}}<h6>
    </h6></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
      <div class="nav-item text-nowrap">
          <a style="background: red;
          color: #fff;
          border-radius: 4px;
          margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
      </div>
  </div>
</header><br>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder;">Entertainer's Gallery</h3><br>
           <!-- Assuming this is your parent container with class "gallery-container" -->
          <div class="gallery-container">
              <div *ngFor="let booking of filteredbookings" class="flip-card">
                 <div class="flip-card-inner">
                    <div class="flip-card-front">
                     <img class="demo" src='data:image/png;base64,{{booking.demo}}'>
                    </div>
                     <div class="flip-card-back">
                       <h1> {{booking.firstName}} {{booking.lastName}}</h1>
                       <p>Instagram: {{booking.instagram}}</p>
                     </div>
                  </div>
              </div>
          </div>
</main>
