<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          <app-navbar></app-navbar>
      </div>
  <div class="col-md-10 order-md-1">
 
<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>FoodType</th>
      <th>MenuType</th>
      <th>MenuCategory</th>
    </tr>
    <tr *ngFor="let menuItem of menuItems">
      <td>{{ menuItem.menuItem_Id }}</td>
      <td>{{ menuItem.name }}</td>
      <td>{{ menuItem.description }}</td>
      <td>{{ menuItem.foodTypeName }}</td>
      <td>{{ menuItem.menuTypeName }}</td>
      <td>{{ menuItem.menuCategoryName }}</td>
      <td><button type="button" class="btn btn-danger" (click)="deleteMenuItem(menuItem.menuItem_Id)">Delete</button></td>
    </tr>
  </table>
  </div>
  </div>
</div>

  
