<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>FoodType</th>
      <th>MenuType</th>
      <th>MenuCategory</th>
    </tr>
    <tr *ngFor="let menuItem of menuItems">
      <td>{{ menuItem.menuItem_Id }}</td>
      <td>{{ menuItem.name }}</td>
      <td>{{ menuItem.description }}</td>
      <td *ngFor="let menuFoodType of foodTypes">{{ menuFoodType.name}}</td>
      <td *ngFor="let menuType of menuTypes">{{ menuType.name }}</td>
      <td *ngFor="let menuCat of menuCategories">{{ menuCat.name }}</td>
    </tr>
  </table>
  
