<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar>
        </div>
    <div class="col-md-10 order-md-1">
    <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder;">Entertainment Events </h3>

    <input type="text" class="form-control"  placeholder="Search Event">
    <span style="align-content: right;">
        <button style="margin-left: 1em;" type="button" class="btn btn-sm btn-success" [routerLink]="'/add-event'">New</button>
    </span>

    <table class="table table-striped table-hover table-container outlined-table">
        <thead class="tableColor">

                <th scope="col">ID</th>
                <th scope="col">Event Title</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
                <th scope="col"></th>
        </thead>
        <tbody>
          <tr *ngFor="let event of Filteredevents">
                <td>{{event.eventId}}</td>
                <td>{{event.event_name}}</td>
                <td>{{event.description}}</td>
                
                  <td> <i class="fa fa-pencil" [routerLink]="['/edit-event', event.eventId]" aria-hidden="true"></i></td>
                  <td><i class="fa fa-trash"  (click)="DeleteEvent(event.eventId)" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>

    </div>
</div>    