<nav class="side-navbar"> 
    <ul class="nav-links" style="margin-top: 5rem;">
      <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
      <li>
        <a><i class="fa fa-group"></i> Booking</a>
        <ul class="dropdown">
          <li><a routerLink="/past-booking">View Booking</a></li>
        </ul>
      </li>
      <li>
      <a routerLink="../help"><i class="fa fa-fw fa-question-circle"></i> Help</a>
    </li>
      <li><a (click)="view()"><i class="fa fa-fw fa-user-circle-o"></i> View Profile</a></li>
      <li><a (click)="logout()"><i class="fa fa-sign-out"></i> LOGOUT</a></li>
    </ul>
  </nav>