 <nav class="side-navbar" >
  <ul>
    <li style="margin-bottom: 15%;">
      <a href="#"> <i></i> </a>
    </li>
    <li>
     <b><a routerLink="../home"> <i class="fa fa-fw fa-home"></i> Home</a></b> 
     <hr style="width:100%; text-align:left; margin-left:0; margin-top: -10px; height: 10px; border-width: 1px;">
    </li>
    <li>
      <b>
        <a href="#"> <i class="fa fa-fw fa-book"></i> Bookings <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
        <ul class="dropdown">
          <li><a  routerLink="../booking"> <i class="fa fa-fw fa-address-book"></i> Upcoming Bookings</a></li>
          <hr style="width:100%; text-align:left; margin-left:0; margin-top: -5px;height: 10px;background-color:white;">
          <li><a  routerLink="../past-booking"> <i class="fa fa-fw fa-address-book-o"></i> View Bookings</a></li>
        </ul>
      </b>
    </li>
    <hr style="width:100%; text-align:left; margin-left:0; margin-top: -5px;height: 10px;background-color:white;">
    <li>
      <b>
        <a href="#"> <i class="fa fa-fw fa-download"></i>Downloads</a>
      </b>
      <hr style="width:100%; text-align:left; margin-left:0; margin-top: -10px;height: 10px;background-color:white;">
    </li>
    <li>
      <b>
        <a href="#"> <i class="fa fa-fw fa-question-circle"></i> Help</a>
      </b>
      <hr style="width:100%; text-align:left; margin-left:0; margin-top: -10px;height: 10px;background-color:white;">
    </li>
    <li>
      <b>
        <a (click)="view()"> <i class="fa fa-fw fa-user-circle-o"></i> View Profile</a>
      </b>
      <hr style="width:100%; text-align:left; margin-left:0; margin-top: -10px;height: 10px;background-color:white;">
    </li>
    <li>
      <b>
        <a (click)="logout()"> LOGOUT </a>
      </b>
      <hr style="width:100%; text-align:left; margin-left:0; margin-top: -10px;height: 10px;background-color:white;">
    </li>
  </ul>
</nav>





