<nav class="side-navbar">
  <ul>
    <li class="nav-item">
      <a  class="nav-link">
        <i class="fa fa-dashboard"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a href="../home" class="nav-link">
        <i class="fa fa-home"></i> Home
      </a>
    </li>
    <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
    <li class="nav-item dropdown">
      <a  class="nav-link">
        <i class="fa fa-book"></i> Bookings <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu">
        <!-- <li><a href="../booking"><i class="fa fa-address-book"></i> Make Booking</a></li> -->
        <li><a href="../past-booking" class="white-link"><i class="fa fa-address-book-o"></i> View Bookings</a></li>
      </ul>
    </li>
    <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
    <li class="nav-item">
      <a  href="../help" class="nav-link">
        <i class="fa fa-question-circle"></i> Help
      </a>
    </li>
    <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
    <li class="nav-item">
      <a href="../view-profile" class="nav-link">
        <i class="fa fa-user-circle-o"></i> View Profile
      </a>
    </li>
    <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
    <li class="nav-item">
      <a  class="nav-link" (click)="logout()">
        <i class="fa fa-sign-out"></i> Logout
      </a>
    </li>
    <hr style=" text-align:left; margin-left:0; margin-top: -10px; border-width: 1px;">
  </ul>
</nav>
