<!-- kitchen-screen.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Kitchen Screen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let order of kitchenOrders">
    <ion-card-header>
      <ion-card-title>Order Number: {{ order.kitchenOrderNumber }}</ion-card-title>
      <ion-card-subtitle *ngIf="order.tableNumber">Table Number: {{ order.tableNumber }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      
      <ion-list>
        <ion-item *ngFor="let orderedItem of order.orderedItems">
          {{ orderedItem.name }} x {{ orderedItem.quantity }} 
        </ion-item>
      </ion-list>

      
      <ion-list>
        <ion-item *ngFor="let orderedDrink of order.orderedDrinks">
          {{ orderedDrink.name }} x {{ orderedDrink.quantity }}
        </ion-item>
      </ion-list>

      <h3>Subtotal: {{ order.subtotal | currency: 'R' }}</h3>
      <!-- Add Complete button -->
      <ion-button (click)="markOrderAsComplete(order)">Complete</ion-button>
      
      
    </ion-card-content>
  </ion-card>
</ion-content>
<app-notification ></app-notification>
