<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>

    <div class="col-md-10 order-md-2">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center mb-4">Add Event Schedule Slot</h4>
          <hr>
          <div class="container">
            <div class="row">
              <!--Title-->
              <form [formGroup]="scheduleform" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                  <mat-label>Slot Title</mat-label>
                  <input matInput placeholder="Provide the slot title" formControlName="title">
                </mat-form-field>
                <br>

                 <!--Date-->
                <mat-form-field class="full-width">
                  <mat-label>Date</mat-label>
                  <input
                    matInput
                    type="date"
                    [min]="minDate | date:'yyyy-MM-dd'"
                    [max]="maxDate | date:'yyyy-MM-dd'"
                    placeholder="Select a date"
                    formControlName="date"
                  >
                </mat-form-field>
                <br>

                <!-- Start Time -->
               <mat-form-field class="full-width">
                <mat-label>Start Time</mat-label>
                <input
                  matInput
                  type="time"
                  placeholder="Select the start time"
                  formControlName="start_Time"
                >
              </mat-form-field>
              <br>

                <!-- End Time -->
            <mat-form-field class="full-width">
             <mat-label>End Time</mat-label>
             <input
               matInput
               type="time"
               placeholder="Select the start time"
               formControlName="end_Time"
             >
           </mat-form-field>
                 <!--Event Name-->
                <mat-form-field class="full-width">
                  <mat-label>Event Name</mat-label>
                  <mat-select formControlName="event">
                    <mat-option *ngFor="let event of bookingevents" [value]="event.eventId">{{ event.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
              
                <!--Description-->
                <mat-form-field class="full-width">
                  <mat-label>Description</mat-label>
                  <textarea
                    matInput
                    placeholder="Provide a description for the event slot"
                    formControlName="description"
                    rows="2"
                  ></textarea>
                </mat-form-field>
                <br>

                <div class="center-buttons">
                  <button mat-raised-button color="primary" type="submit">Add</button>
                  <button mat-raised-button color="warn" (click)="onCancel()">Discard</button>
                </div>
              </form>
              <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help" matTooltip="Help">
                <mat-icon>help</mat-icon>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




