<!--ion-header>
  <ion-toolbar>
    <ion-title>Print Receipt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Order Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      < Display the order details here -->
      <!--p>Order ID: {{ order.kitchenOrderNumber }}</p>
      <Add more order details as needed -->

      <!-- Print Receipt button -->
      <!--ion-button expand="full" (click)="onPrintReceipt()">Print Receipt</ion-button>

      < Cancel button -->
      <!--ion-button expand="full" (click)="onCancel()">Cancel</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content-->
