
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <app-navbar></app-navbar>
      </div>
      <div class="col-md-8 order-md-2">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center mb-4">Update {{editInventoryItem.itemName}}</h4>
            <hr>
            <div class="container">
              <div class="row">
                <form [formGroup]="editInventoryItemForm" class="form-horizontal"  (ngSubmit)="onSubmit()">

                  <div class="form-group">
                    <label class=" col-sm-1" style="font-weight: bold;" for="itemName">Name:</label>
                    <div class="col-sm-6">
                      <input class="form-control" id="itemName" placeholder="Enter name" [required]="true" formControlName="itemName">
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-md-1" style="font-weight: bold;" for="inventoryType">Inventory Type:</label>
                  <div class="col-md-6">
                  <select class="form-control" id="inventoryType" formControlName="inventoryType">
                    <option *ngFor="let item of inventoryTypesData" [value]="item.inventory_TypeId">{{ item.name }}</option>
                  </select>
                </div>
                </div>
                
  
                <div class="form-group">
                  <label class="col-sm-1" style="font-weight: bold;" for="description">Description:</label>
                  <div class="col-sm-6">
                    <textarea class="form-control" type="text" id="description" placeholder="Enter description" [required]="true" formControlName="description"></textarea>
                  </div>
              </div>
  
      <!-- <div class="form-group"> -->
        <div class="col-sm-offset-1 col-sm-6 center-buttons">
        <div class="buttons">
          <span>
            <button style="margin-right:1em;" type="submit" [disabled]="!editInventoryItemForm.valid" class="btn btn-sm btn-success">Confirm</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
        </span>
        </div>
        </div>
      <!-- </div> -->
    </form>
    <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help" matTooltip="Help">
      <mat-icon>help</mat-icon>
    </button>
    </div>
   </div> 
    </div>
    </div>
  </div>
  
  
  
  
  
