<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-navbar></app-navbar>
        </div>
    <div class="col-md-10 order-md-1">
<h1 style="text-align: center; font-size: 50px; font-family: 'Times New Roman', Times, serif;">Edit Menu Type</h1>
<div class="container-md">
    <form [formGroup]="editMenuTypeForm" autocomplete="off" (ngSubmit)="editMenuType()">
        <div class="mb-1">
            <label for="name" style="font-weight: bold;" class="form-label">Name</label>
           
                <input type="text" #name [ngClass]="{'form-control': true, 'is-invalid': editMenuTypeForm.get('name')?.invalid &&
                (editMenuTypeForm.get('name')?.dirty || editMenuTypeForm.get('name')?.touched)}" Menu_TypeId="name" name="name"
                    formControlName="name" placeholder="Name" style="width: 300px"><br>
        </div>
        
        <button type="submit" class="btn btn-basic" [disabled]="!editMenuTypeForm.valid" (click)="editMenuType()">Edit</button>
        <button type="button" class="btn btn-warning" style="margin-left: 2px;" [routerLink]="['/menu-types']">Cancel</button>
        
    </form>
</div>
    </div>
    </div>
</div>
 -->


<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <app-navbar></app-navbar>
      </div>
      <div class="col-md-8 order-md-2">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center mb-4">Update {{MenuTypes.name}}</h4>
            <hr>
            <div class="container">
              <div class="row">
                <form [formGroup]="editMenuTypeForm" class="form-horizontal"  (ngSubmit)="editMenuType()">
    <div class="form-group">
      <span>
        <label class="tb col-sm-1" style="font-weight: bold;" for="name"> Menu Type Name:</label>
        <div class="col-sm-6">
          <input class="form-control"  placeholder="Enter Name" [required]="true" name="name" formControlName="name">
        </div>
      </span>
    </div>
  
      <!-- <div class="form-group"> -->
        <div class="col-sm-offset-1 col-sm-6 center-buttons">
        <div class="buttons">
          <span>
            <button style="margin-right:1em;" type="submit" [disabled]="!editMenuTypeForm.valid" class="btn btn-sm btn-success">Confirm</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
        </span>
        </div>
        </div>
      <!-- </div> -->
    </form>
    <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help"  matTooltip="Help">
      <mat-icon style="font-size: 24px;">help</mat-icon>
    </button>
    </div>
   </div> 
    </div>
    </div>
  </div>

