<h2 mat-dialog-title>Help: Edit an Discount</h2>
<div mat-dialog-content>
    <p>If you're unsure how to edit the discount information to the system, please follow the steps mentioned below</p>
    <ul>
        <li><strong>Step 1:</strong>Edit the Surname of the Employee.</li>
        <li><strong>Step 2:</strong>Edit the Name of the Discount.</li>
        <li><strong>Step 5:</strong>Edit the Description of the Discount.</li>
        <li><strong>Step 6:</strong>Edit the Starting Date of the Discount.</li>
        <li><strong>Step 7:</strong>Edit the End date of the Discount.</li>
        <li><strong>Step 8:</strong> Update the employee's information, by clicking the "Confirm" button</li>
      <br>
      <p style="color:red">*Note: Ensure that all fields are filled in correctly, before attempting to save the item</p>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
