<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-8 order-md-1">
      <label></label>
      <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: bolder;">
        View Schedule Calendar
      </h3>

      <div class="row">
          <full-calendar
            [options]="calendarOptions"
            [events]="calendarEvents"
          ></full-calendar>
          
      </div>
      <button mat-icon-button (click)="openHelpModal('itemName')" aria-label="Help"  matTooltip="Help">
        <mat-icon style="font-size: 24px;">help</mat-icon>
      </button>
    </div>
  </div>
</div>





  


