<div id="one" 
  style="background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
  url('../assets/Home/Image.gif')">
      <nav id="nav">
          <div class="nav-logo">
              <div class="nav-heading">
                  <span href="#"><i ><img src="../../assets/Nav_image/Africanacity.png" class="avatar" alt="" style="margin-top: 10%;"></i>MMINO Restaurant</span>
              </div>
              <div class="hamburger">
                  <a href="#"><i class="far fa-moon white "></i></a>
                  <a href="#"><i class="fas fa-bars "></i></a>
              </div>
          </div>
          <ul class="nav-links">
              <li><a routerLink="/welcome">HOME</a></li>
              <li><a routerLink="/about">ABOUT</a></li>
              <li><a routerLink="../login">LOGIN</a></li>
          </ul>
      </nav>
      <div class="content">
          <div class="text-content">
              <h1 class="white">Providing a platform
                  For <strong>Artists!</strong>
              </h1>
              <h4 class="blackish">We offer special services for upcoming artists and entertainment</h4>
          </div>
        </div>
  <section id="two" style="margin-top: 10rem;">
      <div class="heading ">
          <h1>What We Do</h1>
          <p class="lightblack">We invite you to come, feast on our delicious traditional dishes, and create lasting memories while enjoying the artistic ambiance that surrounds you.</p>
      </div>
  <section id="gallery">
      <div class="heading ">
          <h1>Our Gallery</h1>
          <p class="lightblack">Step into a world of creativity and inspiration. Explore our diverse collection of captivating artworks that celebrate the beauty of the human imagination.</p>
      </div> 
      <div class="container" >
        <div class="carousel">
          <div class="carousel__face"><span><img src="../../assets/Home/Pic.png" alt=""  class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic1.png" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic2.png" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic3.png" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic4.png" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic5.png" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic6.jpg" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic7.jpg" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic8.jpg" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic9.jpg" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic10.jpg" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic11.jpg" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic16.jpg" alt="" class="pic"></span></div>
          <div class="carousel__face"><span><img src="../../assets/Home/Pic17.jpg" alt="" class="pic"></span></div>
        </div>
      </div>
  </section>
  


