<div class= "header" style="margin-top: -1.5%;">
  <h1>
    <img src="../../assets/Nav_image/Africanacity.png" class="avatar" alt="" style="margin-top: 10%;">
  </h1>
  <input type="checkbox" id="nav" />
  <label for="nav" class="material-icons">MMINO</label>
  <nav class="circle" style="margin-right: 85%;">
    <ul>
      <li><a routerLink="/welcome">Home</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <!-- <li><a routerLink="/about" >Digital Menu</a></li> -->
    </ul>
  </nav>
  <div class="nav-item text-nowrap"  style="margin-left: 94%;margin-top: 0.8%;">
    <button style="background: rgb(0, 0, 0);
    height: 40px;
    width: 70px;
    text-align: center; 
    color: #0de35b;
    border-radius: 4px;
    margin: 10px;" class="btn btn-outline-success my-2 my-sm-0" routerLink="../login" >Login</button>
</div>
</div><br>

<div clas="back" style=" background: url('/pix/samples/bg2.png') beige;">
  <div style="margin-top: 2%;">
    <div class="mission" style="margin-left: -1%; text-align: center; "><br>
        <p>MMINO Restaurant serves as a place for the people to be served both modern and traditional
          African cuisine. It is also seen as a safe place, given to various up and coming artists to
          showcase their unique talents, which gives these artists a platform to build and expand their
          brand, as well as to offer a form of live entertainment to people who are simply there to enjoy
          the food served. This organisation aims to merge both entertainment and hospitality.
          </p><br>
        <span>MMINO is basically a conglomerate, and under that conglomerate, is where the various sectors
          lie. Some of these sectors include:</span>
        <ul>
          <li>MMINO Outreach</li>
          <li>MMINO Arts and crafts</li>
          <li>MMINO Restaurant</li>
        </ul>
        
      </div>
  </div>
  <div class="container" >
    <div class="carousel">
      <div class="carousel__face"><span><img src="../../assets/Home/Pic.png" alt=""  class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic1.png" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic2.png" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic3.png" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic4.png" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic5.png" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic6.jpg" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic7.jpg" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic8.jpg" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic9.jpg" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic10.jpg" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic11.jpg" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic16.jpg" alt="" class="pic"></span></div>
      <div class="carousel__face"><span><img src="../../assets/Home/Pic17.jpg" alt="" class="pic"></span></div>
    </div>
  </div>
</div>    
   